.header {
    border-bottom: 1px solid #F5F5F6;
    position: relative;
    z-index: 10;
    background: #F5F5F6;
    @media all and (max-width: 1023px) {
        border-bottom: 1px solid #DFDEE2;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
        @media all and (max-width: 1023px) {
            padding-top: 20px;
            padding-bottom: 20px;
            flex-wrap: wrap;
        }
    }
    &__logo {
        flex: 0 0 118px;
        margin-right: 40px;
        order: 2;
        @media all and (max-width: 1023px) {
            max-width: 110px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            flex: none;
        }
    }
    &__cat-btn {
        cursor: pointer;
        flex: 0 0 169px;
        order: 3;
        @media all and (max-width: 1023px) {
            display: none;
        }
        &.isHide {
            display: none;
        }
    }
    &__search {
        padding: 5px;
        border: 1px solid #DFDEE2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 534px;
        width: 100%;
        margin-left: 40px;
        margin-right: 40px;
        order: 4;
        @media all and (max-width: 1023px) {
            max-width: 100%;
            margin-top: 20px;
            margin-left: 0;
            margin-right: 0;
            height: 40px;
            order: 7;
        }
        input {
            width: 100%;
            border: 0;
            height: 100%;
            padding: 12px 28px;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: normal;
            color: #111111;
            background: transparent;
        }
        button {
            cursor: pointer;
            width: 44px;
            flex: 0 0 44px;
            border: 2px solid #F1752A;
            transition: all .3s ease-out;
            height: 44px;
            font-size: 0;
            background: #F1752A url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.71 20.7899L18 17.1099C19.4401 15.3143 20.1375 13.0352 19.9488 10.7412C19.7601 8.44721 18.6997 6.31269 16.9855 4.77655C15.2714 3.24041 13.0338 2.41941 10.7329 2.48237C8.43204 2.54534 6.24272 3.48747 4.61514 5.11505C2.98756 6.74263 2.04543 8.93194 1.98247 11.2328C1.91951 13.5337 2.74051 15.7713 4.27664 17.4854C5.81278 19.1996 7.9473 20.26 10.2413 20.4487C12.5353 20.6374 14.8144 19.94 16.61 18.4999L20.29 22.1799C20.383 22.2736 20.4936 22.348 20.6154 22.3988C20.7373 22.4496 20.868 22.4757 21 22.4757C21.132 22.4757 21.2627 22.4496 21.3846 22.3988C21.5064 22.348 21.617 22.2736 21.71 22.1799C21.8902 21.9934 21.991 21.7442 21.991 21.4849C21.991 21.2256 21.8902 20.9764 21.71 20.7899ZM11 18.4999C9.61553 18.4999 8.26215 18.0894 7.11101 17.3202C5.95986 16.551 5.06266 15.4578 4.53284 14.1787C4.00303 12.8996 3.86441 11.4921 4.1345 10.1343C4.4046 8.77641 5.07128 7.52912 6.05025 6.55016C7.02922 5.57119 8.2765 4.9045 9.63437 4.63441C10.9922 4.36431 12.3997 4.50293 13.6788 5.03275C14.9579 5.56256 16.0511 6.45977 16.8203 7.61091C17.5895 8.76206 18 10.1154 18 11.4999C18 13.3564 17.2625 15.1369 15.9497 16.4497C14.637 17.7624 12.8565 18.4999 11 18.4999Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
            @media all and (max-width: 1023px) {
                background-size: 16px;
            }
            &:hover {
                background: #fff url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.71 20.7899L18 17.1099C19.4401 15.3143 20.1375 13.0352 19.9488 10.7412C19.7601 8.44721 18.6997 6.31269 16.9855 4.77655C15.2714 3.24041 13.0338 2.41941 10.7329 2.48237C8.43204 2.54534 6.24272 3.48747 4.61514 5.11505C2.98756 6.74263 2.04543 8.93194 1.98247 11.2328C1.91951 13.5337 2.74051 15.7713 4.27664 17.4854C5.81278 19.1996 7.9473 20.26 10.2413 20.4487C12.5353 20.6374 14.8144 19.94 16.61 18.4999L20.29 22.1799C20.383 22.2736 20.4936 22.348 20.6154 22.3988C20.7373 22.4496 20.868 22.4757 21 22.4757C21.132 22.4757 21.2627 22.4496 21.3846 22.3988C21.5064 22.348 21.617 22.2736 21.71 22.1799C21.8902 21.9934 21.991 21.7442 21.991 21.4849C21.991 21.2256 21.8902 20.9764 21.71 20.7899ZM11 18.4999C9.61553 18.4999 8.26215 18.0894 7.11101 17.3202C5.95986 16.551 5.06266 15.4578 4.53284 14.1787C4.00303 12.8996 3.86441 11.4921 4.1345 10.1343C4.4046 8.77641 5.07128 7.52912 6.05025 6.55016C7.02922 5.57119 8.2765 4.9045 9.63437 4.63441C10.9922 4.36431 12.3997 4.50293 13.6788 5.03275C14.9579 5.56256 16.0511 6.45977 16.8203 7.61091C17.5895 8.76206 18 10.1154 18 11.4999C18 13.3564 17.2625 15.1369 15.9497 16.4497C14.637 17.7624 12.8565 18.4999 11 18.4999Z' fill='%23F1752A'/%3E%3C/svg%3E%0A") 50% no-repeat;
            }
            @media all and (max-width: 1023px) {
                width: 30px;
                height: 30px;  
                flex: 0 0 30px; 
            }
        }
    }
    &__cart {
        order: 5 !important;
        cursor: pointer !important;
        padding: 13px 15px !important;
        color: #333 !important;
        display: flex !important;
        font-size: 18px !important;
        font-weight: 500 !important;
        background: none !important;
        overflow: hidden !important; 
        border-radius: 0 !important;
        border: 2px solid #F1752A !important;
        flex: 0 0 146px !important;   
        @media all and (max-width: 1023px) {
            display: none !important;
        } 
        svg {
            width: 30px;
            height: 30px;
            path {
                fill: #F1752A !important;
            }
        }
        &:after {
            top: 100%;
        }
        &:hover {
            color: #fff !important;
            svg {
                path {
                    fill: #fff !important;
                }
            }
            &:after {
                top: 0%;
            }
        }
    }
    &__info {
        order: 6;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 0 0 165px;
        margin-left: 40px;
        @media all and (max-width: 1023px) {
            flex: none;
            margin-left: 20px;
        }
    }
    &__tel {
        font-family: 'bebas', cursive;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 31px;
        color: #111111;
        text-decoration: none;
        padding-bottom: 1px;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
        position: relative;
        &:after {
            position: absolute;
            content: '';
            height: 2px;
            background: #111111;
            transform: scaleX(0) translateZ(0);
            width: 100%;
            left: 0;
            transform-origin: left;
            transition: all .6s ease-out;
            bottom: 0;
        }
        &:hover {
            &:after {
                transform: scaleX(1) translateZ(0);
            }
        }
        @media all and (max-width: 1023px) {
            font-size: 0;
            width: 40px;
            height: 40px;
            border: 2px solid #F1752A;
            background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.41 13C19.19 13 18.96 12.93 18.74 12.88C18.2948 12.7805 17.8571 12.6501 17.43 12.49C16.9661 12.3212 16.4561 12.33 15.9983 12.5146C15.5405 12.6992 15.1671 13.0466 14.95 13.49L14.73 13.95C13.7588 13.3992 12.8616 12.7271 12.06 11.95C11.2828 11.1484 10.6108 10.2512 10.06 9.28L10.52 9.07C10.9634 8.85292 11.3108 8.47953 11.4954 8.02169C11.68 7.56385 11.6888 7.05391 11.52 6.59C11.3612 6.15903 11.2309 5.71808 11.13 5.27C11.08 5.05 11.04 4.82 11.01 4.6C10.8886 3.89562 10.5196 3.25774 9.96961 2.80124C9.41961 2.34474 8.72469 2.09961 8.00999 2.11H4.99999C4.57724 2.10945 4.15914 2.19825 3.77311 2.37058C3.38707 2.54292 3.04182 2.7949 2.75999 3.11C2.47231 3.43365 2.2581 3.81575 2.13209 4.23004C2.00608 4.64432 1.97125 5.08098 2.02999 5.51C2.57358 9.67214 4.4752 13.5387 7.43999 16.51C10.4113 19.4748 14.2779 21.3764 18.44 21.92C18.5698 21.9299 18.7002 21.9299 18.83 21.92C19.5674 21.9211 20.2794 21.6505 20.83 21.16C21.1451 20.8782 21.3971 20.5329 21.5694 20.1469C21.7417 19.7609 21.8305 19.3428 21.83 18.92V15.92C21.8246 15.229 21.5808 14.5611 21.1399 14.0291C20.699 13.4971 20.0879 13.1336 19.41 13ZM19.9 19C19.8997 19.1395 19.8701 19.2775 19.8133 19.4049C19.7565 19.5324 19.6736 19.6465 19.57 19.74C19.4604 19.8399 19.33 19.9141 19.1881 19.9573C19.0463 20.0006 18.8967 20.0117 18.75 19.99C15.0183 19.5026 11.5502 17.802 8.87999 15.15C6.20746 12.4775 4.49202 8.99737 3.99999 5.25C3.97826 5.10333 3.98943 4.95367 4.03266 4.81185C4.0759 4.67003 4.15014 4.5396 4.24999 4.43C4.34461 4.32515 4.46037 4.24154 4.58964 4.18466C4.71891 4.12778 4.85876 4.09892 4.99999 4.1H7.99999C8.23115 4.09435 8.45713 4.16898 8.63945 4.3112C8.82178 4.45341 8.94919 4.65442 8.99999 4.88C8.99999 5.15 9.08999 5.43 9.14999 5.7C9.26556 6.22386 9.41931 6.73857 9.60999 7.24L8.20999 7.9C7.96935 8.01046 7.78235 8.21185 7.68999 8.46C7.58997 8.70346 7.58997 8.97654 7.68999 9.22C9.12919 12.3028 11.6072 14.7808 14.69 16.22C14.9334 16.32 15.2065 16.32 15.45 16.22C15.6981 16.1276 15.8995 15.9406 16.01 15.7L16.64 14.3C17.1559 14.4881 17.6837 14.6418 18.22 14.76C18.48 14.82 18.76 14.87 19.03 14.91C19.2556 14.9608 19.4566 15.0882 19.5988 15.2705C19.741 15.4529 19.8156 15.6788 19.81 15.91L19.9 19ZM14 2C13.77 2 13.53 2 13.3 2C13.0348 2.02254 12.7894 2.14952 12.6178 2.353C12.4462 2.55647 12.3624 2.81978 12.385 3.085C12.4075 3.35022 12.5345 3.59562 12.738 3.76721C12.9415 3.93881 13.2048 4.02254 13.47 4H14C15.5913 4 17.1174 4.63214 18.2426 5.75736C19.3678 6.88258 20 8.4087 20 10C20 10.18 20 10.35 20 10.53C19.9778 10.7938 20.0612 11.0556 20.2317 11.2581C20.4023 11.4606 20.6462 11.5871 20.91 11.61H20.99C21.2403 11.611 21.4819 11.5181 21.6671 11.3496C21.8522 11.1811 21.9675 10.9493 21.99 10.7C21.99 10.47 21.99 10.23 21.99 10C21.99 7.88 21.1485 5.84668 19.6504 4.34668C18.1523 2.84667 16.12 2.00265 14 2ZM16 10C16 10.2652 16.1053 10.5196 16.2929 10.7071C16.4804 10.8946 16.7348 11 17 11C17.2652 11 17.5196 10.8946 17.7071 10.7071C17.8946 10.5196 18 10.2652 18 10C18 8.93913 17.5786 7.92172 16.8284 7.17157C16.0783 6.42143 15.0609 6 14 6C13.7348 6 13.4804 6.10536 13.2929 6.29289C13.1053 6.48043 13 6.73478 13 7C13 7.26522 13.1053 7.51957 13.2929 7.70711C13.4804 7.89464 13.7348 8 14 8C14.5304 8 15.0391 8.21071 15.4142 8.58579C15.7893 8.96086 16 9.46957 16 10Z' fill='%23F1752A'/%3E%3C/svg%3E%0A") 50% no-repeat;
            transition: all .3s ease-out;
            &:after {
                display: none !important;
            }
            &:hover {
                background: #F1752A url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.41 13C19.19 13 18.96 12.93 18.74 12.88C18.2948 12.7805 17.8571 12.6501 17.43 12.49C16.9661 12.3212 16.4561 12.33 15.9983 12.5146C15.5405 12.6992 15.1671 13.0466 14.95 13.49L14.73 13.95C13.7588 13.3992 12.8616 12.7271 12.06 11.95C11.2828 11.1484 10.6108 10.2512 10.06 9.28L10.52 9.07C10.9634 8.85292 11.3108 8.47953 11.4954 8.02169C11.68 7.56385 11.6888 7.05391 11.52 6.59C11.3612 6.15903 11.2309 5.71808 11.13 5.27C11.08 5.05 11.04 4.82 11.01 4.6C10.8886 3.89562 10.5196 3.25774 9.96961 2.80124C9.41961 2.34474 8.72469 2.09961 8.00999 2.11H4.99999C4.57724 2.10945 4.15914 2.19825 3.77311 2.37058C3.38707 2.54292 3.04182 2.7949 2.75999 3.11C2.47231 3.43365 2.2581 3.81575 2.13209 4.23004C2.00608 4.64432 1.97125 5.08098 2.02999 5.51C2.57358 9.67214 4.4752 13.5387 7.43999 16.51C10.4113 19.4748 14.2779 21.3764 18.44 21.92C18.5698 21.9299 18.7002 21.9299 18.83 21.92C19.5674 21.9211 20.2794 21.6505 20.83 21.16C21.1451 20.8782 21.3971 20.5329 21.5694 20.1469C21.7417 19.7609 21.8305 19.3428 21.83 18.92V15.92C21.8246 15.229 21.5808 14.5611 21.1399 14.0291C20.699 13.4971 20.0879 13.1336 19.41 13ZM19.9 19C19.8997 19.1395 19.8701 19.2775 19.8133 19.4049C19.7565 19.5324 19.6736 19.6465 19.57 19.74C19.4604 19.8399 19.33 19.9141 19.1881 19.9573C19.0463 20.0006 18.8967 20.0117 18.75 19.99C15.0183 19.5026 11.5502 17.802 8.87999 15.15C6.20746 12.4775 4.49202 8.99737 3.99999 5.25C3.97826 5.10333 3.98943 4.95367 4.03266 4.81185C4.0759 4.67003 4.15014 4.5396 4.24999 4.43C4.34461 4.32515 4.46037 4.24154 4.58964 4.18466C4.71891 4.12778 4.85876 4.09892 4.99999 4.1H7.99999C8.23115 4.09435 8.45713 4.16898 8.63945 4.3112C8.82178 4.45341 8.94919 4.65442 8.99999 4.88C8.99999 5.15 9.08999 5.43 9.14999 5.7C9.26556 6.22386 9.41931 6.73857 9.60999 7.24L8.20999 7.9C7.96935 8.01046 7.78235 8.21185 7.68999 8.46C7.58997 8.70346 7.58997 8.97654 7.68999 9.22C9.12919 12.3028 11.6072 14.7808 14.69 16.22C14.9334 16.32 15.2065 16.32 15.45 16.22C15.6981 16.1276 15.8995 15.9406 16.01 15.7L16.64 14.3C17.1559 14.4881 17.6837 14.6418 18.22 14.76C18.48 14.82 18.76 14.87 19.03 14.91C19.2556 14.9608 19.4566 15.0882 19.5988 15.2705C19.741 15.4529 19.8156 15.6788 19.81 15.91L19.9 19ZM14 2C13.77 2 13.53 2 13.3 2C13.0348 2.02254 12.7894 2.14952 12.6178 2.353C12.4462 2.55647 12.3624 2.81978 12.385 3.085C12.4075 3.35022 12.5345 3.59562 12.738 3.76721C12.9415 3.93881 13.2048 4.02254 13.47 4H14C15.5913 4 17.1174 4.63214 18.2426 5.75736C19.3678 6.88258 20 8.4087 20 10C20 10.18 20 10.35 20 10.53C19.9778 10.7938 20.0612 11.0556 20.2317 11.2581C20.4023 11.4606 20.6462 11.5871 20.91 11.61H20.99C21.2403 11.611 21.4819 11.5181 21.6671 11.3496C21.8522 11.1811 21.9675 10.9493 21.99 10.7C21.99 10.47 21.99 10.23 21.99 10C21.99 7.88 21.1485 5.84668 19.6504 4.34668C18.1523 2.84667 16.12 2.00265 14 2ZM16 10C16 10.2652 16.1053 10.5196 16.2929 10.7071C16.4804 10.8946 16.7348 11 17 11C17.2652 11 17.5196 10.8946 17.7071 10.7071C17.8946 10.5196 18 10.2652 18 10C18 8.93913 17.5786 7.92172 16.8284 7.17157C16.0783 6.42143 15.0609 6 14 6C13.7348 6 13.4804 6.10536 13.2929 6.29289C13.1053 6.48043 13 6.73478 13 7C13 7.26522 13.1053 7.51957 13.2929 7.70711C13.4804 7.89464 13.7348 8 14 8C14.5304 8 15.0391 8.21071 15.4142 8.58579C15.7893 8.96086 16 9.46957 16 10Z' fill='%23ffffff'/%3E%3C/svg%3E%0A") 50% no-repeat;
            }
        }
    }
    &__bottom {
        border-top: 1px solid #DFDEE2;
        @media all and (max-width: 1023px) {
            display: none;
        }
    }
    &__call {
        padding: 0 !important;
        padding-top: 4px !important;
        padding-bottom: 4px !important;
        color: #2AA6F1 !important;
        background: none !important;
        overflow: hidden !important;
        font-weight: 400 !important;
        border-radius: 0 !important;
        font-size: 14px !important;
        &:after, &:before {
            background: #2AA6F1 !important;
        }
        @media all and (max-width: 1023px) {
            display: none !important;
        }
    }
    &__menu-bot {
        & > ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            & > li {
                margin-top: 26px;
                margin-bottom: 26px;
                width: 100%;
                text-align: center;
                border-right: 1px solid #DFDEE2;
                &:first-child {
                    border-left: 1px solid #DFDEE2;
                }
                & > a {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 23px;
                    color: #111111;
                    text-decoration: none;
                    overflow: hidden;
                    display: inline-block;
                    position: relative;
                    padding: 2px 0px;
                    &:after {
                        position: absolute;
                        content: '';
                        height: 2px;
                        background: #111111;
                        transform: scaleX(0) translateZ(0);
                        width: 100%;
                        left: 0;
                        transform-origin: left;
                        transition: all .6s ease-out;
                        bottom: 0;
                    }
                    &:hover {
                        &:after {
                            transform: scaleX(1) translateZ(0);
                        }
                    }
                }
                &.menu-item-has-children {
                    position: relative;
                    & > a {
                        transition: all .3s ease-out;
                        position: relative;
                        padding-right: 38px;
                        &:before {
                            right: 0px;
                            width: 23px;
                            top: 50%;
                            transition: all .3s ease-out;
                            height: 23px;
                            margin-top: -11.5px;
                            content: '';
                            position: absolute;
                            background: url("data:image/svg+xml,%3Csvg width='24' height='23' viewBox='0 0 24 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.7925 13.1912L7.19254 8.28003L5.35254 8.28003L11.7925 15.18L18.2325 8.28003L16.3925 8.28003L11.7925 13.1912Z' fill='%23333333'/%3E%3C/svg%3E%0A") 50% no-repeat;
                        }
                    }
                    ul {
                        opacity: 0;
                        pointer-events: none;
                        visibility: hidden;
                        width: 310px;
                        position: absolute;
                        left: 0;
                        top: 100%;
                        background: #F5F5F6;
                        padding: 30px 46px;
                        border: 1px solid #DFDEE2;
                        list-style: none;
                        margin: 0;
                        text-align: left;
                        transition: all .3s ease-out;
                        li {
                            &:not(:last-child) {
                                margin-bottom: 14px;
                            }
                            a {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 150%;
                                color: #111111;
                                text-decoration: none;
                                display: inline-block;
                                overflow: hidden;
                                display: inline-block;
                                position: relative;
                                transition: all .3s ease-out;
                                &:after {
                                    position: absolute;
                                    content: '';
                                    height: 2px;
                                    background: #F1752A;
                                    transform: scaleX(0) translateZ(0);
                                    width: 100%;
                                    left: 0;
                                    transform-origin: left;
                                    transition: all .6s ease-out;
                                    bottom: 0;
                                }
                                &:hover {
                                    color: #F1752A;
                                    &:after {
                                        transform: scaleX(1) translateZ(0);
                                    }
                                }
                            }
                        }
                    }
                    &:focus, &:hover {
                        & > a {
                            color: #F1752A;
                            &:before {
                                background: url("data:image/svg+xml,%3Csvg width='24' height='23' viewBox='0 0 24 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.7925 13.1912L7.19254 8.28003L5.35254 8.28003L11.7925 15.18L18.2325 8.28003L16.3925 8.28003L11.7925 13.1912Z' fill='%23F1752A'/%3E%3C/svg%3E%0A") 50% no-repeat;
                                transform: rotate(180deg);
                            }
                            &:after {
                                background: #F1752A;
                            }
                        }
                        ul {
                            opacity: 1;
                            visibility: visible;
                            pointer-events: all;
                        }
                    }
                }
            }
        }
    }
    &__cat {
        background: #F5F5F6;
        padding-top: 55px;
        padding-bottom: 40px;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        transition: all .3s ease-out;
        height: calc(100vh - 205px);
        overflow: auto;
        opacity: 0;
        visibility: hidden;
        &.isOpened {
            opacity: 1;
            visibility: visible;
        }
        &--blocks {
            display: flex;
            flex-wrap: wrap;
            margin-left: -10px;
            margin-right: -10px;
        }
        &--block {
            display: block;
            margin-left: 10px;
            margin-right: 10px; 
            width: calc(33.3% - 20px);
            margin-bottom: 20px;
            position: relative;
            height: 200px;
            text-decoration: none;
            overflow: hidden;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            transition: all .3s ease-out;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                z-index: 2;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            }
            &:hover {
                .header__cat--img {
                    transform: scale(1.1);
                }
            }
        }
        &--img {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            transition: all .3s ease-out;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &--info {
            position: relative;
            z-index: 3;
        }
        &--title {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 150%;
            color: #FFFFFF;
            margin-bottom: 10px;
        }
        &--price {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            color: #F1752A;
        }
    }
}
.site-panel-wrap {
    @media all and (min-width: 1024px) {
        display: none;
    }
    position: relative;
    z-index: 1000;
    & .burger-wrap {
      width: 40px;
      height: 40px;
      & .burger-btn {
        width: 40px;
        height: 40px;
        background: #F1752A url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 16H3C2.73478 16 2.48043 16.1054 2.29289 16.2929C2.10536 16.4804 2 16.7348 2 17C2 17.2652 2.10536 17.5196 2.29289 17.7071C2.48043 17.8946 2.73478 18 3 18H13C13.2652 18 13.5196 17.8946 13.7071 17.7071C13.8946 17.5196 14 17.2652 14 17C14 16.7348 13.8946 16.4804 13.7071 16.2929C13.5196 16.1054 13.2652 16 13 16ZM3 8H21C21.2652 8 21.5196 7.89464 21.7071 7.70711C21.8946 7.51957 22 7.26522 22 7C22 6.73478 21.8946 6.48043 21.7071 6.29289C21.5196 6.10536 21.2652 6 21 6H3C2.73478 6 2.48043 6.10536 2.29289 6.29289C2.10536 6.48043 2 6.73478 2 7C2 7.26522 2.10536 7.51957 2.29289 7.70711C2.48043 7.89464 2.73478 8 3 8ZM21 11H3C2.73478 11 2.48043 11.1054 2.29289 11.2929C2.10536 11.4804 2 11.7348 2 12C2 12.2652 2.10536 12.5196 2.29289 12.7071C2.48043 12.8946 2.73478 13 3 13H21C21.2652 13 21.5196 12.8946 21.7071 12.7071C21.8946 12.5196 22 12.2652 22 12C22 11.7348 21.8946 11.4804 21.7071 11.2929C21.5196 11.1054 21.2652 11 21 11Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat ;
        cursor: pointer;
      }
    & .burger-close-btn {
        width: 40px;
        flex: 0 0 40px;
        height: 40px;
        margin-right: 10px;
        background: #F1752A url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.4099 11.9999L19.7099 5.70994C19.8982 5.52164 20.004 5.26624 20.004 4.99994C20.004 4.73364 19.8982 4.47825 19.7099 4.28994C19.5216 4.10164 19.2662 3.99585 18.9999 3.99585C18.7336 3.99585 18.4782 4.10164 18.2899 4.28994L11.9999 10.5899L5.70994 4.28994C5.52164 4.10164 5.26624 3.99585 4.99994 3.99585C4.73364 3.99585 4.47824 4.10164 4.28994 4.28994C4.10164 4.47825 3.99585 4.73364 3.99585 4.99994C3.99585 5.26624 4.10164 5.52164 4.28994 5.70994L10.5899 11.9999L4.28994 18.2899C4.19621 18.3829 4.12182 18.4935 4.07105 18.6154C4.02028 18.7372 3.99414 18.8679 3.99414 18.9999C3.99414 19.132 4.02028 19.2627 4.07105 19.3845C4.12182 19.5064 4.19621 19.617 4.28994 19.7099C4.3829 19.8037 4.4935 19.8781 4.61536 19.9288C4.73722 19.9796 4.86793 20.0057 4.99994 20.0057C5.13195 20.0057 5.26266 19.9796 5.38452 19.9288C5.50638 19.8781 5.61698 19.8037 5.70994 19.7099L11.9999 13.4099L18.2899 19.7099C18.3829 19.8037 18.4935 19.8781 18.6154 19.9288C18.7372 19.9796 18.8679 20.0057 18.9999 20.0057C19.132 20.0057 19.2627 19.9796 19.3845 19.9288C19.5064 19.8781 19.617 19.8037 19.7099 19.7099C19.8037 19.617 19.8781 19.5064 19.9288 19.3845C19.9796 19.2627 20.0057 19.132 20.0057 18.9999C20.0057 18.8679 19.9796 18.7372 19.9288 18.6154C19.8781 18.4935 19.8037 18.3829 19.7099 18.2899L13.4099 11.9999Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
        cursor: pointer;
    }
    & .burger-body {
        position: fixed;
        overflow: hidden;
        top: 0;
        left: -100%;
        transition: all .5s;
        width: 100%;
        background: #fff;
        height: 100vh;
        display: flex;
        flex-direction: column;
        // overflow-y: auto;
        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px 20px;
            border-bottom: 1px solid #DFDEE2;
        }
        .header__search {
            margin-top: 0;
        }
        .header__info {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .header__tel {
            width: auto;
            height: auto;
            border: 0;
            background: transparent;
            font-size: 26px;
            line-height: 20px;
            &:after {
                display: block;
            }
        }
        .header__call {
            display: block;
            margin-left: 20px;
            margin-right: 0;
            padding-bottom: 1px;
        }
        &__catalog {
            padding: 33px 16px;
            position: relative;
            border-bottom: 1px solid #DFDEE2;
            background: #F5F5F6;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            text-transform: uppercase;
            color: #111111;
            padding-right: 35px;
            cursor: pointer;
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                background: url("data:image/svg+xml,%3Csvg width='15' height='28' viewBox='0 0 15 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6765 14L0 4V0L15 14L0 28V24L10.6765 14Z' fill='%23F1752A'/%3E%3C/svg%3E%0A") 50% no-repeat;
                width: 15px;
                height: 28px;
                right: 16px;
                margin-top: -14px;
            }
            &.isOpened {
                padding-left: 48px;
                border-color: transparent;
                &:before {
                    left: 16px;
                    right: unset;
                    transform: rotate(180deg);
                }
            }
        }
        &__cat-block {
            position: relative;
            .header__cat--blocks {
                height: 100vh;
                left: 100%;
                background: #F5F5F6;
                position: absolute;
                transition: all .3s ease-out;
                top: 0;
                margin-left: 0;
                z-index: 3000;
                margin-right: 0;
            }
            &.isOpened {
                .header__cat--blocks {
                    left: 0;
                    height: calc(100vh - 163px);
                    overflow: auto;
                    @media all and (max-width: 860px) {
                        margin-left: 0;
                        margin-right: 0;
                        padding-left: 16px;
                        padding-right: 16px;
                    }
                }
            }
        }
        .header__cat--block {
            @media all and (max-width: 860px) {
                width: calc(50% - 20px);
            }
            @media all and (max-width: 620px) {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
      &.opened {
        .burger-body {
            left: 0;
        }
      }
      
    }
  }
#example-menu {
    position: relative !important;
    transform: unset;
    overflow-y: unset;
    width: 100%;
    max-width: 100%;
    flex: 1 1 auto;
    .slide-menu__slider {
        will-change: unset;
        > ul {
            > li {
                > a {
                    padding: 33px 16px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 23px;
                    text-transform: uppercase;
                    color: #111111;
                    text-decoration: none;
                    display: block;
                    border-bottom: 1px solid #DFDEE2;
                }
                &.menu-item-has-children {
                    > a {
                        position: relative;
                        &:before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            right: 0;
                            background: url("data:image/svg+xml,%3Csvg width='15' height='28' viewBox='0 0 15 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6765 14L0 4V0L15 14L0 28V24L10.6765 14Z' fill='%23F1752A'/%3E%3C/svg%3E%0A") 50% no-repeat;
                            width: 15px;
                            height: 28px;
                            right: 16px;
                            margin-top: -14px;
                        }
                    }
                }
                ul {
                    height: 100%;
                    background: #F5F5F6;
                    li:not(:first-child) {
                        a {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 150%;
                            color: #333333;
                            margin: 0 56px;
                            margin-bottom: 14px;
                            text-decoration: none;
                        }
                    }
                }
                .slide-menu__backlink {
                    position: relative;
                    padding: 33px 16px;
                    padding-left: 48px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 23px;
                    text-transform: uppercase;
                    color: #111111;
                    text-decoration: none;
                    display: block;
                    border-bottom: 1px solid #DFDEE2;
                    margin-bottom: 30px;
                    &:before {
                        left: 16px;
                        transform: rotate(180deg);
                        content: '';
                        position: absolute;
                        top: 50%;
                        background: url("data:image/svg+xml,%3Csvg width='15' height='28' viewBox='0 0 15 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6765 14L0 4V0L15 14L0 28V24L10.6765 14Z' fill='%23F1752A'/%3E%3C/svg%3E%0A") 50% no-repeat;
                        width: 15px;
                        height: 28px;
                        margin-top: -14px;
                    }
                }
            }
        }
    }
}