.more_block {
    padding-top: 50px;
    padding-bottom: 50px;
    @media all and (max-width: 1023px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__item {
        padding: 80px;
        text-align: center;
        position: relative;
        &:before {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: 5;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
            pointer-events: none;
        }
        @media all and (max-width: 1023px) {
            padding: 60px 16px;
        }
    }
    &__title {
        font-family: 'bebas', cursive;
        position: relative;
        z-index: 6;
        max-width: 585px;
        width: 100%;
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        @media all and (max-width: 1023px) {
            margin-bottom: 20px;
            font-size: 40px;
            line-height: 140%;
        }
    }
    &__text {
        position: relative;
        z-index: 6;
        max-width: 585px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        @media all and (max-width: 1023px) {
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 150%;
        }
    }
    &__btn {
        position: relative;
        z-index: 6;
        @media all and (max-width: 420px) {
            width: 100%;
        }
        span {
            color: #fff;
            @media all and (max-width: 420px) {
                width: 100%;
            }
        }
    }
    &__video {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        video {
            object-fit: cover;
            object-position: 50% 50%;
            width: 100%;
            height: 100%;
        }
    }
}