.calc_block {
    &__h1 {
        margin: 0;
        font-family: 'bebas', cursive;
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 140%;
        color: #111111;
        margin-bottom: 30px;
        @media all and (max-width: 1023px) {
            margin-bottom: 20px;
            font-size: 40px;
            line-height: 140%;
        }
    }
    &__items {
        display: flex;
        justify-content: space-between;
        @media all and (max-width: 1023px) {
            flex-direction: column;
        }
    }
    &__l-side {
        width: 100%;
        @media all and (max-width: 1023px) {
            margin-bottom: 60px;
        }
    }
    &__r-side {
        flex: 0 0 413px;
        margin-left: 20px;
        @media all and (max-width: 1023px) {
            flex: none;
            margin-left: 0;
            width: 100%;
        }
    }
    &__status {
        top: 10px;
        position: sticky;
        padding: 40px 30px;
        background: #F5F5F6;
        @media all and (max-width: 1023px) {
            padding: 30px 20px;
            margin-bottom: 30px;
        }
        &--tit {
            margin-bottom: 20px;
            font-style: normal;
            font-family: 'bebas', cursive;
            font-weight: 700;
            font-size: 30px;
            line-height: 140%;
            color: #111111;
        }
    }
    &__list {
        border-top: 1px solid #DFDEE2;
        &--item {
            padding-top: 20px;
            padding-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #DFDEE2;
        }
        &--left {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #1E1F1F;
            @media all and (max-width: 1023px) {
                font-weight: 600;
            }
        }
        &--right {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            color: #333333;
            @media all and (max-width: 1023px) {
                font-weight: 400;
                color: #F1752A;
            }
        }
    }
    &__btn {
        margin-top: 20px;
        width: 100%;
        font-weight: normal;
        @media all and (max-width: 1023px) {
            font-size: 16px !important;
        }
    }
    &__button {
        width: 100%;
        margin-top: 20px;
        span {
            width: 100%;
            @media all and (max-width: 1023px) {
                padding-left: 0px;
                padding-right: 0px;   
            }
        }
    }
    &__total {
        padding-top: 50px;
        @media all and (max-width: 1023px) {
            padding-top: 30px;
        }
        &--title {
            margin-bottom: 50px;
            font-family: 'bebas', cursive;
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 140%;
            text-transform: uppercase;
            color: #111111;
            @media all and (max-width: 1023px) {
                font-size: 40px;
                margin-bottom: 30px;
            }
        }
        &--block {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            &.isOpened {
                .calc_block__total--top {
                    &:before {
                        transform: rotate(180deg);
                        background: #F1752A url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.9993 14.2647L7.1993 9.14L5.2793 9.14L11.9993 16.34L18.7193 9.14L16.7993 9.14L11.9993 14.2647Z' fill='%23ffffff'/%3E%3C/svg%3E%0A") 50% no-repeat;
                    }
                }
                .calc_block__total--text {
                    display: flex !important;
                }
            }
        }
        &--top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            border: 1px solid #DFDEE2;
            padding: 15px;
            padding-right: 110px;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                right: 15px;
                top: 50%;
                width: 24px;
                height: 24px;
                margin-top: -12px;
                background: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.9993 14.2647L7.1993 9.14L5.2793 9.14L11.9993 16.34L18.7193 9.14L16.7993 9.14L11.9993 14.2647Z' fill='%23F1752A'/%3E%3C/svg%3E%0A") 50% no-repeat;
            }
            @media all and (max-width: 1023px) {
                padding-right: 50px;
                flex-direction: column;
                align-items: flex-start;
            }
        }
        &--tit {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #333333;
            @media all and (max-width: 1023px) {
                margin-bottom: 16px;
            }
        }
        &--prc {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #000000;
            @media all and (max-width: 1023px) {
                color: #F1752A;
                font-weight: 500;
                font-size: 16px;
            }
        }
        &--text {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            border: 1px solid #DFDEE2;
            border-top: 0;
            display: none;
            @media all and (max-width: 1023px) {
                flex-direction: column;
            }
        }
        &--r-side {
            padding: 20px;
            background: #F5F5F6;
            width: 227px;
            margin-left: 10px;
            @media all and (max-width: 1023px) {
                width: 100%;
                margin-left: 0;
                margin-top: 20px;
            }
        }
        &--price {
            display: flex;
            flex-direction: column;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #111111;
            @media all and (max-width: 1023px) {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
            span {
                font-size: 16px;
                display: inline-block;
                margin-top: 13px;
                @media all and (max-width: 1023px) {
                    margin-top: 0;
                }
            }
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
        &--l-side {
            width: calc(100% - 247px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media all and (max-width: 1023px) {
                width: 100%;
            }
        }
        &--list {
            padding: 0;
            margin: 0;
            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                position: relative;
                padding-left: 25px;
                &:not(:last-child) {
                    margin-bottom: 16px;
                }
                &:after {
                    content: attr(data-number);
                    position: absolute;
                    left: 0;
                    top: 50%;
                    height: 16px;
                    margin-top: -8px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    color: #F1752A;
                    @media all and (max-width: 1023px) {
                        margin-top: 0;
                        top: 0;
                    }
                }
                & > div {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    color: #111111;
                    margin-right: 10px;
                    @media all and (max-width: 1023px) {
                        line-height: 22px;
                    }
                }
            }
        }
        &--name {
            @media all and (max-width: 1023px) {
                font-weight: bold !important;
                width: 100%;
            }
        }
        &--size {
            @media all and (max-width: 1023px) {
                margin-left: -25px;
            }
        }
        &--summ {
            color: #F1752A !important;
        }
    }
    &__orange-info {
        margin-top: 10px;
        margin-bottom: 30px;
        padding: 24px;
        background: #F1752A;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        @media all and (max-width: 1023px) {
            padding: 20px;
            font-weight: 500;
            font-size: 16px;
            margin-top: 20px;
            margin-bottom: 38px;
        }
    }
    &__warning {
        padding-top: 28px;
        padding-bottom: 20px;
        @media all and (max-width: 1023px) {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &--in {
            position: relative;
            padding: 24px 74px;
            background: #F1752A;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            width: 100%;
            color: #FFFFFF;
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 30px;
                width: 11px;
                height: 46px;
                margin-top: -23px;
                background: url("data:image/svg+xml,%3Csvg width='11' height='46' viewBox='0 0 11 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8103 0L9.6092 31.3225H1.48563L0.284483 0H10.8103ZM0 41.0346C0 39.6397 0.505747 38.4635 1.51724 37.5058C2.52874 36.5481 3.86686 36.0692 5.53161 36.0692C7.17529 36.0692 8.49234 36.5481 9.48276 37.5058C10.4943 38.4635 11 39.6397 11 41.0346C11 42.4503 10.4943 43.637 9.48276 44.5947C8.49234 45.5316 7.17529 46 5.53161 46C3.86686 46 2.52874 45.5316 1.51724 44.5947C0.505747 43.637 0 42.4503 0 41.0346Z' fill='white'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
                @media all and (max-width: 1023px) {
                    top: 20px;
                    margin-top: 0;
                }
            }
            @media all and (max-width: 1023px) {
                padding: 20px 30px 20px 70px;
                font-weight: 600;
            }
        }
    }
    &__tabs {
        @media all and (max-width: 1023px) {
            padding-top: 30px;
        }
        &--tit {
            display: none;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
            margin-bottom: 10px;
            color: #111111;
            @media all and (max-width: 1023px) {
                display: block;
            }
        }
        &--top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 2px solid #DFDEE2;
            @media all and (max-width: 1023px) {
                flex-direction: column;
                padding: 15px;
                border: 1px solid #DFDEE2;
                position: relative;
                &:before {
                    right: 15px;
                    top: 50%;
                    margin-top: -12px;
                    width: 24px;
                    height: 24px;
                    content: '';
                    position: absolute;
                    background: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.9993 14.2646L7.1993 9.13989L5.2793 9.13989L11.9993 16.3399L18.7193 9.13989L16.7993 9.13989L11.9993 14.2646Z' fill='%23F1752A'/%3E%3C/svg%3E%0A") 50% no-repeat;
                }
            }
        }
        &--tab {
            width: calc(25% - 5px);
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            text-align: center;
            color: #333333;
            padding: 10px;
            transition: all .3s ease-out;
            margin-bottom: -2px;
            cursor: pointer;
            position: relative;
            z-index: 2;
            border-bottom: 2px solid transparent;
            @media all and (max-width: 1023px) {
                width: 100%;
                border: 0;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                padding: 0;
                text-align: left;
                color: #333333;
                padding-right: 40px;
                display: none;
                br {
                    display: none;
                    text-align: left;
                }
            }
            &.isActive {
                font-weight: 600;
                color: #F1752A;
                border-color: #F1752A;
                @media all and (max-width: 1023px) {
                    font-weight: 500;
                    display: block;
                }
            }
        }
        &--info {
            margin-top: 30px;
            @media all and (max-width: 1023px) {
                margin-top: 20px;
            }
        }
        &--text {
            display: none;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #333333;
            &.isActive {
                display: block;
            }
            @media all and (max-width: 1023px) {
                line-height: 24px;
            }
        }
    }
    &__options {
        margin-left: -10px;
        margin-right: -10px;
        padding-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        @media all and (max-width: 1023px) {
            padding-bottom: 20px;
            margin-left: 0;
            margin-right: 0;
        }
        &--block {
            margin-bottom: 20px;
            margin-left: 10px;
            margin-right: 10px;
            width: calc(50% - 20px);
            padding: 30px 20px;
            background: #F5F5F6;
            @media all and (max-width: 1023px) {
                margin-bottom: 10px;
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
        }
        &--top {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            .custom-checkbox {
                position: absolute;
                z-index: -1;
                opacity: 0;
                cursor: pointer;
              }
          
              /* для элемента label, связанного с .custom-checkbox */
              .custom-checkbox+label {
                display: inline-flex;
                align-items: center;
                user-select: none;
                font-size: 0;
                cursor: pointer;
              }
          
              /* создание в label псевдоэлемента before со следующими стилями */
              .custom-checkbox+label::before {
                content: '';
                display: inline-block;
                width: 48px;
                cursor: pointer;
                height: 48px;
                flex-shrink: 0;
                flex-grow: 0;
                border: 2px solid #F1752A;
                @media all and (max-width: 1023px) {
                    width: 36px;
                    height: 36px;
                }
              }
          
              /* стили для чекбокса, находящегося в состоянии checked */
              .custom-checkbox:checked+label::before {
                background: #F1752A url("data:image/svg+xml,%3Csvg width='24' height='20' viewBox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.11464 16.0843L3.30087 10.1886L-4.45358e-07 10.1886L8.11464 20L24 1.04907e-06L20.6991 9.04788e-07L8.11464 16.0843Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat; 
                @media all and (max-width: 1023px) {
                    background-size: 15px;
                }
              }
        }

        &--title {
            position: relative;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: #111111;
            margin-left: 20px;
        }
        &--list {
            padding-bottom: 10px;
        }
        &--item {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #111111;
            margin-bottom: 10px;
            position: relative;
            padding-left: 20px;
            &:before {
                content: attr(data-number);
                position: absolute;
                left: 0;
                top: 50%;
                height: 16px;
                margin-top: -8px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: #F1752A;
                @media all and (max-width: 1023px) {
                    top: 3px;
                    margin-top: 0;
                }
            }
        }
        &--name {
            width: calc(100% - 104px);
        }
        &--total-price {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #111111;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            max-width: 335px;
            width: 100%;
            span {
                font-size: 16px;
                flex: 0 0 55px;
                display: inline-block;
            }
        }
        &--total-weight {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #111111;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 335px;
            width: 100%;
            span {
                font-size: 16px;
                flex: 0 0 55px;
                display: inline-block;
            }
        }
    }    
}
.calc_model {
    padding: 30px 20px;
    background: #F5F5F6;
    display: flex;
    justify-content: space-between;
    @media all and (max-width: 1023px) {
        flex-direction: column;
    }
    &__l-side {
        width: calc(50% - 10px);
        @media all and (max-width: 1023px) {
            width: 100%;
            margin-bottom: 10px;
        }
    }
    &__r-side {
        width: calc(50% - 10px);
        @media all and (max-width: 1023px) {
            width: 100%;
        }
    }
    &__tit {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: #111111;
        margin-bottom: 20px;
        @media all and (max-width: 1023px) {
            font-size: 18px;
        }
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-left: -7px;
        margin-right: -7px;
        .radio {
            width: calc(33.3% - 14px);
            margin-left: 7px;
            margin-right: 7px;
            margin-bottom: 20px;
            img, label {
                cursor: pointer;
            }
            @media all and (max-width: 1340px) {
                width: calc(50% - 14px);
            }
        }
        /* для элемента input c type="radio" */
    .custom-radio>input {
        position: absolute;
        z-index: -1;
        opacity: 0;
      }
      .custom-radio {
        display: flex;
        flex-direction: column;
        font-size: 14px !important;
        img {
            margin-bottom: 12px;
        }
      }
  
      /* для элемента label связанного с .custom-radio */
      .custom-radio>span {
        display: inline-flex;
        align-items: center;
        user-select: none;
      }
  
      /* создание в label псевдоэлемента  before со следующими стилями */
      .custom-radio>span::before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #111111;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 12px;
      }
  
      /* стили для радиокнопки, находящейся в состоянии checked */
      .custom-radio>input:checked+span::before {
        border-color: #F1752A;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.8689 1.13052H1.12978V10.8696H10.8689V1.13052ZM0.666016 0.666748V11.3334H11.3327V0.666748H0.666016Z' fill='%23F1752A'/%3E%3Cpath d='M1.12978 1.13052H10.8689V10.8696H1.12978V1.13052Z' fill='%23F1752A'/%3E%3C/svg%3E%0A");
      }
    }
    &__selects {
        margin-bottom: 20px;
        &--span {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: #111111;
            margin-bottom: 5px;
        }
    }
}