.calc_block {
    &__h1 {
        margin: 0;
        font-family: 'bebas', cursive;
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 140%;
        color: #111111;
        margin-bottom: 30px;
        @media all and (max-width: 1023px) {
            margin-bottom: 20px;
            font-size: 40px;
            line-height: 140%;
        }
    }
    &__items {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__l-side {
        width: 100%;
    }
    &__r-side {
        flex: 0 0 413px;
        margin-left: 20px;
    }
    &__status {
        top: 10px;
        position: sticky;
        padding: 40px 30px;
        background: #F5F5F6;
        &--title {
            margin-bottom: 20px;
            font-style: normal;
            font-family: 'bebas', cursive;
            font-weight: 700;
            font-size: 30px;
            line-height: 140%;
            color: #111111;
        }
    }
    &__list {
        border-top: 1px solid #DFDEE2;
        &--item {
            padding-top: 20px;
            padding-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #DFDEE2;
        }
        &--left {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #1E1F1F;
        }
        &--right {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            color: #333333;
        }
    }
    &__btn {
        margin-top: 20px;
        width: 100%;
        font-weight: normal;
    }
    &__button {
        width: 100%;
        margin-top: 20px;
        span {
            width: 100%;
        }
    }
}