.button {
    &__line {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #111111;
        position: relative;
        text-decoration: none;
        padding: 8px 0;
        overflow: hidden;
        display: inline-block;
        &:before {
            position: absolute;
            content: '';
            height: 2px;
            background: #F1752A;
            transform: scaleX(1) translateZ(0);
            width: 100%;
            transition: all .6s ease-out;
            bottom: 0;
            left: 0;
            transform-origin: right;
        }
        &:after {
            position: absolute;
            content: '';
            height: 2px;
            background: #F1752A;
            transform: scaleX(0) translateZ(0);
            width: 100%;
            left: 0;
            transform-origin: left;
            transition: all .6s ease-out;
            bottom: 0;
        }
        &:hover {
            &:before {
                transform: scaleX(-1) translateZ(0);
            }
            &:after {
                transform: scaleX(1) translateZ(0);
            }
        }
    }
    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #41A5B2;
        padding: 4px 0;
        text-decoration: none;
        position: relative;
        overflow: hidden;
        display: inline-block;
        &:before {
            position: absolute;
            content: '';
            height: 1px;
            background: #41A5B2;
            width: 100%;
            transition: all .6s ease-out;
            bottom: 0;
            left: 0;
            transform-origin: right;
            transform: scaleX(1) translateZ(0);
        }
        &:after {
            position: absolute;
            content: '';
            height: 1px;
            background: #41A5B2;
            width: 100%;
            bottom: 0;
            left: 0;
            transform-origin: left;
            transition: all .6s ease-out;
            transform: scaleX(0) translateZ(0);
        }
        &:hover {
            &:before {
                transform: scaleX(-1) translateZ(0);
            }
            &:after {
                transform: scaleX(1) translateZ(0);
            }
        }
    }
    &__all-line2 {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #111111;
        height: 58px;
        text-align: center;
        overflow: hidden;
        transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
        > svg {
            height: 58px;
            left: 0;
            position: absolute;
            top: 0; 
            width: 100%; 
            pointer-events: none;
            transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
            rect {
                stroke-width: 4;
                stroke-dasharray: 15, 310;
                stroke-dashoffset: 48;
                transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
            }
        }

        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            width: 100%;
            height: 100%;
            background: #F1752A;
            z-index: 1;
            pointer-events: none;
            transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
        }
        span {
            position: relative;
            z-index: 2;
            padding: 16px 34px;
            display: block;
            border-top: 2px solid #F1752A;
            border-bottom: 2px solid #F1752A;
            &:before {
                position: absolute;
                content: '';
                width: 2px;
                height: 100%;
                pointer-events: none;
                transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
                left: 0;
                bottom: 0;
                top: 0;
                background: url("data:image/svg+xml,%3Csvg width='2' height='57' viewBox='0 0 2 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='43' width='2' height='14' fill='%23F1752A'/%3E%3Crect width='2' height='14' fill='%23F1752A'/%3E%3C/svg%3E%0A") 50% no-repeat;
            }
            &:after {
                position: absolute;
                content: '';
                width: 2px;
                height: 100%;
                pointer-events: none;
                transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
                right: 0;
                bottom: 0;
                top: 0;
                background: url("data:image/svg+xml,%3Csvg width='2' height='57' viewBox='0 0 2 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='43' width='2' height='14' fill='%23F1752A'/%3E%3Crect width='2' height='14' fill='%23F1752A'/%3E%3C/svg%3E%0A") 50% no-repeat;
            }
        }

        &:hover {
            color: #fff;
            border-width: 0;
            transition: all .6s cubic-bezier(0.19, 1, 0.22, 1) .6s;
            span {
                border-width: 0;
                &:before {
                    opacity: 0;
                }
                &:after {
                    opacity: 0;
                }
            }
            &:after {
                top: 0;
                transition: all .6s cubic-bezier(0.19, 1, 0.22, 1) .6s;
            }
            rect {
                stroke: #F1752A;
                stroke-width: 4;
                stroke-dasharray: 422, 0;
                stroke-dashoffset: 48;
                transition: all .6s linear;
            }
        }
    }
    &__all-line {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #111111;
        height: 58px;
        text-align: center;
        overflow: hidden;
        transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
        svg {
            height: 58px;
            left: 0;
            position: absolute;
            top: 0; 
            width: 100%; 
            pointer-events: none;
            transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
        }

        rect {
            stroke-width: 4;
            stroke-dasharray: 15, 310;
            stroke-dashoffset: 48;
            transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
        }
        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            width: 100%;
            height: 100%;
            background: #F1752A;
            z-index: 1;
            pointer-events: none;
            transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
        }
        span, button {
            position: relative;
            z-index: 2;
            padding: 16px 34px;
            transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
            border: 0;
            background: none;
            display: block;
            border-top: 2px solid #F1752A;
            border-bottom: 2px solid #F1752A;
            &:before {
                position: absolute;
                content: '';
                width: 2px;
                height: 100%;
                pointer-events: none;
                transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
                left: 0;
                bottom: 0;
                top: 0;
                background: url("data:image/svg+xml,%3Csvg width='2' height='57' viewBox='0 0 2 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='43' width='2' height='14' fill='%23F1752A'/%3E%3Crect width='2' height='14' fill='%23F1752A'/%3E%3C/svg%3E%0A") 50% no-repeat;
            }
            &:after {
                position: absolute;
                content: '';
                width: 2px;
                height: 100%;
                pointer-events: none;
                transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
                right: 0;
                bottom: 0;
                top: 0;
                background: url("data:image/svg+xml,%3Csvg width='2' height='57' viewBox='0 0 2 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='43' width='2' height='14' fill='%23F1752A'/%3E%3Crect width='2' height='14' fill='%23F1752A'/%3E%3C/svg%3E%0A") 50% no-repeat;
            }
        }

        &:hover {
            color: #fff;
            border-width: 0;
            transition: all .6s cubic-bezier(0.19, 1, 0.22, 1) .6s;
            span {
                border-width: 0;
                &:before {
                    opacity: 0;
                }
                &:after {
                    opacity: 0;
                }
            }
            &:after {
                top: 0;
                transition: all .6s cubic-bezier(0.19, 1, 0.22, 1) .6s;
            }
            rect {
                stroke: #F1752A;
                stroke-width: 4;
                stroke-dasharray: 422, 0;
                stroke-dashoffset: 48;
                transition: all .6s linear;
            }
        }
    }
    &__all-link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #fff;
        height: 58px;
        text-align: center;
        padding: 18px 34px;
        overflow: hidden;
        transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
        border: 1px solid #E8610F;
        svg {
            width: 21px;
            height: 21px;
            margin-right: 10px;
            position: relative;
            z-index: 2;
            pointer-events: none;
            transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
            path {
                transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
                fill: #fff !important;
            }
        }
        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            right: 0;
            top: 0%;
            width: 100%;
            height: 100%;
            background: #F1752A;
            z-index: 1;
            pointer-events: none;
            transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
        }
        span {
            position: relative;
            z-index: 2;
        }

        &:hover {
            color: #E8610F;
            transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
            &:after {
                top: 100%;
                transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
            }
            svg path {
                fill: #E8610F !important;
            }
        }
    }
    &__all-soc {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        position: relative;
        height: 40px;
        overflow: hidden;
        transition: all 3s cubic-bezier(0.19, 1, 0.22, 1);
        svg {
            transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
            path {
                transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
            }
        }
        span {
            position: relative;
            z-index: 2;
        }
        &:after {
            content: '';
            left: 0;
            position: absolute;
            right: 0;
            bottom: 0;
            pointer-events: none;
            top: 0;
            transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
            width: 100%;
            height: 100%;
            background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.04348 1.04348H22.9565V22.9565H1.04348V19H0V24H24V0H0V5H1.04348V1.04348Z' fill='%23fff'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
        }

        &:hover {
            color: #fff;
            background: #E8610F;
            transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
            svg path {
                fill: #fff !important;
            }
            &:after {
                opacity: 0;
            }
        }
    }
    &__all-arrow {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        width: 40px;
        height: 40px;
        overflow: hidden;
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
        .ln {
            height: 40px;
            left: 0;
            position: absolute;
            top: 0; 
            width: 100%; 
            pointer-events: none;
            transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
        }

        .ar {
            position: relative;
            z-index: 3;
            path {
                transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
            }
        }

        rect {
            stroke-width: 4;
            stroke-dasharray: 15, 310;
            stroke-dashoffset: 48;
            transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
        }
        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            width: 100%;
            height: 100%;
            background: #F1752A;
            z-index: 1;
            pointer-events: none;
            transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
        }
        span {
            position: relative;
            z-index: 2;
        }
        &:before {
            content: '';
            left: 0;
            position: absolute;
            right: 0;
            bottom: 0;
            pointer-events: none;
            top: 0;
            transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
            width: 100%;
            height: 100%;
            background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.04348 1.04348H22.9565V22.9565H1.04348V19H0V24H24V0H0V5H1.04348V1.04348Z' fill='%23000000'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
        }

        &:hover {
            color: #fff;
            transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) .8s;
            &:after {
                top: 0;
                transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) .8s;
            }
            rect {
                stroke: #F1752A;
                stroke-width: 1;
                stroke-dasharray: 422, 0;
                stroke-dashoffset: 48;
                transition: all 1s linear;
            }
            .ar path {
                fill: #fff;
                transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) .8s;
            }
            &:before {
                opacity: 0;
            }
        }
    }
}