.text_page {
    padding-bottom: 50px;
    @media all and (max-width: 1023px) {
        padding-bottom: 30px;
    }
    &__h1 {
        margin: 0;
        font-family: 'bebas', cursive;
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 140%;
        color: #111111;
        margin-bottom: 30px;
        @media all and (max-width: 1023px) {
            margin-bottom: 20px;
            font-size: 40px;
            line-height: 140%;
        }
    }
    &__img {
        font-size: 0;
        margin-bottom: 50px;
        @media all and (max-width: 1023px) {
            margin-bottom: 30px;
            height: 400px;
            overflow: hidden;
        }
        img, iframe {
            width: 100% !important;
            @media all and (max-width: 1023px) {
                height: 100% !important;
                object-fit: cover;
            }
        }
    }
    &__info {
        padding-top: 50px;
        padding-bottom: 50px;
        p:first-child {
            margin-top: 0;
        }
        p:last-child {
            margin-bottom: 0;
        }
        @media all and (max-width: 1023px) {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        &--in {
            background: #F1752A;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
            padding: 40px 30px;
            @media all and (max-width: 1023px) {
                padding: 30px 20px;
            }
        }
    }
    &__txt {
        padding-top: 50px;
        padding-bottom: 50px;
        @media all and (max-width: 1023px) {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        &:last-child {
            padding-bottom: 0;
        }
    }
    &__tit {
        margin: 0;
        font-style: normal;
        font-family: 'bebas', cursive;
        font-weight: 700;
        font-size: 50px;
        line-height: 140%;
        color: #111111;
        margin-bottom: 30px;
        @media all and (max-width: 1023px) {
            margin-bottom: 20px;
            font-size: 40px;
        }
    }
    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #333333;
        margin-bottom: 30px;
        p:first-child {
            margin-top: 0;
        }
        p:last-child {
            margin-bottom: 0;
        }
        @media all and (max-width: 1023px) {
            margin-bottom: 20px;
        }
    }
    &__pic {
        height: 500px;
        overflow: hidden;
        font-size: 0;
        @media all and (max-width: 1023px) {
            height: 300px;
        }
        img, iframe {
            width: 100% !important;
            height: 100% !important;
            object-fit: cover;
        }
    }
    &__slider {
        position: relative;
        @media all and (max-width: 1023px) {
            padding-bottom: 60px;
        }
        .js_sl1_prev {
            margin-right: 20px;
        }
        .js_sl1_next {
            &:before {
                background: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M38.2609 1.73913H1.73913V38.2609H38.2609V31.6667H40V40H0V0H40V8.33333H38.2609V1.73913Z' fill='%23111111'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
            }
        }
    }
    &__navigations {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 70px;
        position: relative;
        z-index: 20;
    }
    &__bullets {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        div {
            padding: 0;
            width: auto;
            height: auto;
            margin: 0;
            margin-right: 20px;
            @media all and (max-width: 1023px) {
                margin-right: 10px;
            }
            button {
                width: 20px;
                height: 20px;
                padding: 0;
                background: #F8E7D1;
                transition: all .3s ease-out;
                border: none;
                cursor: pointer;
                &:before {
                    display: none;  
                }
            }
            &.glide__bullet--active {
                button {
                    background: #F1752A;
                }
            }
        }
    }
    &__slid {
        margin-bottom: 0 !important;
        
    }
    &__slide {
        font-size: 0;
        overflow: hidden;
        height: 500px;
        @media all and (max-width: 1023px) {
            height: 300px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}