@font-face {
	font-family: "bebas";
	font-display: swap;
	src: url("../fonts/bebas-neue-regular.woff2") format("woff2"), url("../fonts/bebas-neue-regular.woff") format("woff"), url("../fonts/bebas-neue-regular.ttf") format("ttf");
	font-weight: 400;
}
