body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;  
}

*,
::after,
::before {
    box-sizing: inherit;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;  
}

html,
body {
    margin: 0;
    padding: 0;
    background: #fff;
    height: 100%;
}

.owh {
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: inherit;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.center_block {
    max-width: 1312px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.center_block2 {
    max-width: 1064px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    height: auto;
}

textarea {
    resize: none;
}

// scrollbar
/* width */
*::-webkit-scrollbar {
    width: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
    background: #292B3A;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: #E8610F;
    border-radius: 20px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #E8610F;
    border-radius: 20px;
}

// scrollbar end

// select
.ss-main {
    .ss-single-selected {
        height: 49px;
        background: #FFFFFF;
        border: 1px solid #DFDEE2;
        border-radius: 0;
        display: flex;
        align-items: center;
        padding: 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #333333;
        .ss-arrow {
            width: 24px;
            height: 24px;
            background: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.99979 5.26485L2.19979 0.140137L0.279785 0.140137L6.99979 7.34014L13.7198 0.140136L11.7998 0.140136L6.99979 5.26485Z' fill='%23F1752A'/%3E%3C/svg%3E%0A") 50% no-repeat !important;
            .arrow-down {
                display: none !important;
            }
            .arrow-up {
                display: none;
            }
        }
        &.ss-open-below {
            .ss-arrow {
                transform: rotate(180deg);
            }
        }
    }
}
.ss-content { 
    .ss-list {
        .ss-option {
            padding: 15px;
            height: 49px;
            border: 1px solid #DFDEE2;
            border-top: 0;
            &:hover {
                background: #f1752a;
            }
        }
    }
}
// select end

// wp theme
body {
    div.asl_w {
        background: none !important;
        .probox {
            background: none !important;
            height: auto !important;
            .proinput { 
                color: #111 !important;
                padding: 0 !important;
                margin: 0 !important;
                input[type="search"] {
                    color: #111 !important;
                    height: 36px !important;
                    width: calc(100% - 40px) !important; 
                    border: 0 !important; 
                    padding: 6px 28px !important; 
                    font-style: normal !important; 
                    font-weight: 400 !important; 
                    font-size: 18px !important; 
                    line-height: 150% !important; 
                    background: transparent !important; 
                    &::placeholder {
                        color: #111 !important;
                    }
                    &.autocomplete {
                        display: none !important;
                    }
                    @media all and (max-width: 1023px) {
                        height: 22px !important;
                    }
                }
            }
            .promagnifier {
                width: 40px !important;
                height: 40px !important;
                background: #F1752A !important;
                border: 2px solid #F1752A !important;
                transition: all .3s ease-out !important;
                &:hover {
                    background: #fff !important;
                    .innericon {
                        svg {
                            path {
                                fill: #F1752A !important;
                            }
                        }
                    }
                }
                @media all and (max-width: 1023px) {
                    width: 28px !important;
                    height: 28px !important;
                }
            }
            .proclose {
                display: none !important;
            }
        }
    }
    @media all and (max-width: 1023px) {
        #ajaxsearchlite1 .probox .proinput input, div.asl_w .probox .proinput input {
            color: #111 !important;
        }
        #ajaxsearchlite1 {
            padding: 5px;
            border: 1px solid #DFDEE2;
        }
        .autocomplete {
            display: none !important;
        }
    }
    .custom-logo-link {
        flex: 0 0 118px;
        margin-right: 40px;
        order: 2;
        @media all and (max-width: 1023px) {
            max-width: 110px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            flex: none;
        }
    }
    .woocommerce nav.woocommerce-pagination {
        margin-top: 20px;
    }
    .woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
        color: #111;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .prev.page-numbers {
        font-size: 0 !important;
        background: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.23515 6.99979L7.35986 2.19979V0.279785L0.159863 6.99979L7.35986 13.7198V11.7998L2.23515 6.99979Z' fill='%23333333'/%3E%3C/svg%3E%0A") 50% no-repeat !important;
    }
    .next.page-numbers {
        transform: rotate(180deg);
        font-size: 0 !important;
        background: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.23515 6.99979L7.35986 2.19979V0.279785L0.159863 6.99979L7.35986 13.7198V11.7998L2.23515 6.99979Z' fill='%23333333'/%3E%3C/svg%3E%0A") 50% no-repeat !important;
    }
    .inner_page {
        width: 100%;
        display: flex;
        overflow: hidden;
        align-items: flex-start;
        padding-bottom: 50px;   
        @media all and (max-width: 1023px) {
            flex-direction: column;
            padding-bottom: 30px;
        }
        &__left {
            flex: 0 0 305px;
            margin-right: 20px;
            padding: 30px 20px;
            background: #F5F5F6;
            @media all and (max-width: 1023px) {
                flex: none;
                margin-right: 0;
                width: 100%;
                padding: 0;
                background: none;
            }
            .wp-block-group__inner-container {
                .berocket_ajax_group_filter_title {
                    font-family: "bebas", cursive;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 140%;
                    color: #111111;
                    margin-top: 0;
                    margin-bottom: 20px;    
                    @media all and (max-width: 1023px) {
                        cursor: pointer;
                        padding: 20px;
                        padding-right: 65px;
                        font-weight: 700;
                        font-size: 20px;
                        background: #F5F5F6;
                        position: relative;
                        &:before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            width: 40px;
                            height: 40px;
                            margin-top: -20px;
                            right: 20px;
                            background: url("data:image/svg+xml,%3Csvg width='24' height='13' viewBox='0 0 24 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0008 8.94108L4.00078 0.399902L0.800781 0.399902L12.0008 12.3999L23.2008 0.399901L20.0008 0.399902L12.0008 8.94108Z' fill='%23F1752A'/%3E%3C/svg%3E%0A") 50% no-repeat;
                        }
                    }                
                }
                .bapf_sfilter {
                    width: 100%;
                    .bapf_body {
                        width: 100%;
                        margin: 0;
                        font-weight: 500 !important;
                        .bapf_button {
                            width: 100%;
                            height: 56px;
                            transition: all .6s cubic-bezier(0.19, 1, 0.22, 1) !important;
                            font-weight: 500 !important;
                            &:hover {
                                color: #fff !important;
                                transition: all .6s cubic-bezier(0.19, 1, 0.22, 1) .5s !important;
                            }
                        }
                    }
                }
                .berocket_single_filter_widget {
                    .bapf_slidr_main {
                        margin-bottom: 0 !important;
                    }
                    &:not(:last-of-type) {
                        margin-bottom: 20px;
                        border-bottom: 1px solid #111111;
                        padding-bottom: 20px;
                    }
                }
            }
            .bapf_head {
                h3 {
                    margin: 0;
                    margin-bottom: 20px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 150%;
                    color: #333333;
                }
            }
            .bapf_body {
                font-style: normal;
                font-weight: 400;
                font-size: 16px !important;
                line-height: 150% !important;
                color: #333333 !important;
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        &:not(:last-child) {
                            margin-bottom: 15px !important;
                        }
                        & > input {
                            position: absolute;
                            z-index: -1;
                            opacity: 0;
                          }
                      
                        /* для элемента label, связанного с .custom-checkbox */
                        &>label {
                            display: flex;
                            align-items: center;
                            position: relative;
                            padding-left: 34px;
                        }
                      
                          /* создание в label псевдоэлемента before со следующими стилями */
                          &>label::before {
                            content: '';
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            margin-top: -12px;
                            position: absolute;
                            top: 50%;
                            flex-shrink: 0;
                            flex-grow: 0;
                            background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.04348 1.04348H22.9565V22.9565H1.04348V19H0V24H24V0H0V5H1.04348V1.04348Z' fill='%23111111'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
                            margin-right: 10px;
                            left: 0px;
                          }
                      
                          /* стили для чекбокса, находящегося в состоянии checked */
                          &>input:checked+label::before {
                            background: #F1752A url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.05732 8.04216L1.65043 5.0943L-2.22679e-07 5.0943L4.05732 10L12 5.24537e-07L10.3496 4.52394e-07L4.05732 8.04216Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
                          }
                    }
                }
                margin-bottom: 20px;
            }
            .bapf_sfilter {
                margin-bottom: 0 !important;
            }
            .bapf_slidr_main.ui-widget-content .ui-slider-range, .berocket_filter_price_slider.ui-widget-content .ui-slider-range {
                background: #F1752A;
            }
            .bapf_slidr_main.ui-widget-content, .berocket_filter_price_slider.ui-widget-content {
                background: #292B3A;
            }
        }
        &__right {
            width: 100%;
        }
    }
    .footer__info {
        .custom-logo-link {
            text-decoration: none;
            display: inline-block;
            margin-bottom: 40px;
            max-width: 118px;
            width: 100%;
            @media all and (max-width: 1023px) {
                margin-bottom: 10px;
            }
        }
    }
    .woocommerce a.added_to_cart {
        display: none !important;
    }
    .main_product__cart:after {
        content: '' !important;
    }
    .woocommerce a.remove {
        font-size: 0 !important;
        width: 24px;
        height: 24px;
        background: none !important;
    }
    .main_product__cart {
        margin-top: 20px !important;
        padding: 0 !important;
        border: 0 !important;
        display: flex !important;
        background: none !important;
        overflow: hidden !important;
        color: #111 !important;
        font-weight: 500 !important;
        font-size: 18px !important;
        border-radius: 0 !important;
        span {
            .text {
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        &:hover {
            color: #fff !important;
        }
    }
    .main_product__cart:after {
        transform: unset !important;
    }
    .page_top {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        margin-bottom: 40px;
        @media all and (max-width: 1023px) {
            margin-right: 20px;
            flex-direction: column;
            align-items: flex-start;
        }
        h1 {
            margin: 0;
            font-family: "bebas", cursive;
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 140%;
            color: #111111;
            margin-right: 40px;
            @media all and (max-width: 1023px) {
                margin-right: 0px;
                font-size: 40px;
                line-height: 140%;
            }
        }
        .page_top__counter {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #333333;
            margin-bottom: 12px;
            @media all and (max-width: 1023px) {
                margin-bottom: 0;
            }
        }
    }
    .catalog__wrapper_in {
        @media all and (max-width: 1230px) { 
            grid-template-columns: repeat(2, 1fr);
        }
        @media all and (max-width: 640px) { 
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .woocommerce-result-count, .woocommerce-ordering {
        display: none !important;
    }
    .block_back_filter {
        display: none;
        padding: 33px 16px 33px 54px;
        background: #F5F5F6;
        border-width: 0px 1px 1px 1px;
        border-style: solid;
        cursor: pointer;
        border-color: #DFDEE2;
        position: relative;
        font-family: "bebas", cursive;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        color: #111111;
        order: 1;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            width: 15px;
            height: 28px;
            margin-top: -14px;
            background: url("data:image/svg+xml,%3Csvg width='15' height='28' viewBox='0 0 15 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.32352 14L15 4V0L0 14L15 28V24L4.32352 14Z' fill='%23F1752A'/%3E%3C/svg%3E%0A") 50% no-repeat;
            left: 16px;
            cursor: pointer;
        }
        @media all and (max-width: 1023px) {
            display: block;
        }
    }
    .woocommerce table.shop_table td {
        border: 0;
        padding: 0;
    }
    .woocommerce table.shop_table {
        border: 0;
        margin: 0;
    }
    .cart_block__blocks {
        padding-bottom: 40px;
    }
    button[name="update_cart"] {
        border: 0;
        background: none !important;
        height: 56px;
        transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) !important;
        font-weight: 500 !important;
        position: relative;
        z-index: 2;
        padding: 16px 34px;
        transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
        border: 0;
        border-radius: 0 !important;
        background: none;
        display: block;
        border-top: 2px solid #F1752A !important;
        border-bottom: 2px solid #F1752A !important;
        &:before {
            position: absolute;
            content: "";
            width: 2px;
            height: 100%;
            pointer-events: none;
            transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
            left: 0;
            bottom: 0;
            top: 0;
            background: url("data:image/svg+xml,%3Csvg width='2' height='57' viewBox='0 0 2 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='43' width='2' height='14' fill='%23F1752A'/%3E%3Crect width='2' height='14' fill='%23F1752A'/%3E%3C/svg%3E%0A") 50% no-repeat;
        }

        &:after {
            position: absolute;
            content: "";
            width: 2px;
            height: 100%;
            pointer-events: none;
            transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
            right: 0;
            bottom: 0;
            top: 0;
            background: url("data:image/svg+xml,%3Csvg width='2' height='57' viewBox='0 0 2 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='43' width='2' height='14' fill='%23F1752A'/%3E%3Crect width='2' height='14' fill='%23F1752A'/%3E%3C/svg%3E%0A") 50% no-repeat;
        }
    }
    @media all and (max-width: 1023px) {
        .filter_block_mobile {
            position: fixed;
            top: 0;
            left: 0;
            transform: translateX(100%);
            display: flex;
            transition: all 0.3s ease-out;
            flex-direction: column;
            overflow: hidden;
            right: 0;
            bottom: 0;
            height: calc(100vh - 66px);
            z-index: 10;
            background: #fff;
            &.isOpened {
                transform: none;
            }
            &--item {
                order: 2;
                overflow-x: auto;
                overscroll-behavior: contain;
                padding: 30px 16px;
            }
        }
    }
    .cart-collaterals > form {
        display: flex;
        margin-top: 50px;
        @media all and (max-width: 1023px) {
            margin-top: 30px;
            flex-direction: column;
        }
    }
    // #order_review_heading {
    //     width: 60%;
    //     font-family: "bebas", cursive;
    //     font-style: normal;
    //     font-weight: 700;
    //     font-size: 50px;
    //     line-height: 140%;
    //     margin-bottom: 30px;
    //     color: #111111;
    //     @media all and (max-width: 1023px) {
    //         font-size: 40px;
    //         line-height: 140%;
    //         margin-bottom: 20px;
    //         width: 100%;
    //     }
    // }
    #customer_details {
        width: calc(100% - 431px);
        @media all and (max-width: 1023px) {
            width: 100%;
            margin-bottom: 60px;
        }
    }
    .single_variation_wrap {
        .woocommerce-variation {
            margin-bottom: 15px;
        }
        tr {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            label {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                color: #111111;
                margin-bottom: 5px;
            }
            .value {
                width: 100%;
            }
        }
    }
    .block_right_status {
        width: 411px;
        margin-left: 20px;
        .shipping-calculator-button {
            font-size: 14px !important;
            color: #F1752A !important;
        }
        &--item {
            padding: 40px 30px;
            background: #F5F5F6;
            position: sticky;
            top: 10px;
            @media all and (max-width: 1023px) {
                padding: 30px 20px;
            }
        }
        @media all and (max-width: 1023px) {
            width: 100%;
            margin-left: 0;
        }
        #order_review_heading {
            margin: 0;
            margin-bottom: 30px;
            font-family: "bebas", cursive;
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 140%;
            color: #111111;
            @media all and (max-width: 1023px) {
                margin-bottom: 20px;    
            }
        }
        .woocommerce-checkout-review-order {
            display: none !important;
        }
        .cart_totals {
            width: 100% !important;
            float: none !important;
            h2 {
                display: none;
            }
            .shop_table {
                tbody {
                    display: flex;
                    flex-direction: column;
                    tr, td, th {
                        border: 0 !important;
                    }
                    & > tr {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        &:first-child {
                            border-top: 1px solid #DFDEE2 !important;
                        }
                        &:not(:last-child) {
                            border-bottom: 1px solid #DFDEE2 !important;
                        }
                        &:last-child {
                            border-bottom: 1px solid #111111 !important;
                        }
                        th {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            padding: 0;
                            line-height: 150%;
                            color: #333333;
                        }
                    }
                    td {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                        text-align: right;
                        width: 50%;
                        color: #F1752A;
                        @media all and (max-width: 1023px) {
                            width: 100%;
                            background: none !important;
                            &:before {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                padding: 0;
                                line-height: 150%;
                                color: #333333;
                            }
                        }
                    }
                }
            }
            .wc-proceed-to-checkout {
                padding: 0;
                margin: 0;
                margin-top: 30px;
                @media all and (max-width: 1023px) {
                    margin-top: 20px;
                }
                a {
                    margin: 0;
                    background: #F1752A;
                    border-radius: 0;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21px;
                    color: #FFFFFF;
                    transition: all .3s ease-out;
                    &:hover {
                        background: #d96621;
                    }
                }
            }
        }
    }
    #customer_details {
        display: flex;
        flex-direction: column;
        &:before {
            display: block;
            content: 'Оформление заказа';
            margin-bottom: 30px;
            font-family: "bebas", cursive;
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 140%;
            color: #111111;
            @media all and (max-width: 1023px) {
                font-size: 40px;
                margin-bottom: 20px;
            }
        }
        h3 {
            margin: 0;
            margin-bottom: 20px;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 150%;
            color: #111111;
        }
        .col-1 {
            width: 100%;
            h3 {
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 150%;
                color: #111111;
                &:before {
                    content: '1.';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 150%;
                    color: #F1752A;
                    margin-right: 5px;
                    display: inline-block;
                    min-width: 25px;
                }
            }
            .woocommerce-billing-fields__field-wrapper {
                display: flex;
                flex-wrap: wrap;
                margin-left: -10px;
                margin-right: -10px;
                @media all and (max-width: 1023px) {
                    margin-left: 0;
                    margin-right: 0;
                }
                .form-row {
                    width: calc(50% - 20px);
                    margin-bottom: 20px;
                    padding: 0 !important;
                    margin-left: 10px;
                    margin-right: 10px;
                    @media all and (max-width: 1023px) {
                        width: 100%;
                        margin-left: 0;
                        margin-right: 0;
                        margin-bottom: 10px;
                    }
                    label {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        color: #333333;
                        margin-bottom: 5px;
                    }
                    input {
                        padding: 15px;
                        background: #F5F5F6;
                        border: 1px solid #DFDEE2;
                        &::placeholder {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                            color: #333333;
                        }
                    }
                }
            }
        }
        .col-2 {
            width: 100%;
            margin-top: 30px;
            h3 {
                label input {
                    display: none;
                }
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 150%;
                color: #111111;
                &:before {
                    content: '3.';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 150%;
                    color: #F1752A;
                    margin-right: 5px;
                    display: inline-block;
                    min-width: 25px;
                }
            }
            .woocommerce-shipping-fields__field-wrapper {
                display: flex;
                flex-wrap: wrap;
                margin-left: -10px;
                margin-right: -10px;
                @media all and (max-width: 1023px) {
                    margin-left: 0;
                    margin-right: 0;
                }
                .form-row {
                    width: calc(50% - 20px);
                    margin-bottom: 20px;
                    padding: 0 !important;
                    margin-left: 10px;
                    margin-right: 10px;
                    @media all and (max-width: 1023px) {
                        width: 100%;
                        margin-left: 0;
                        margin-right: 0;
                        margin-bottom: 10px;
                    }
                    label {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        color: #333333;
                        margin-bottom: 5px;
                    }
                    input {
                        padding: 15px;
                        background: #F5F5F6;
                        border: 1px solid #DFDEE2;
                        &::placeholder {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                            color: #333333;
                        }
                    }
                }
            }
            .woocommerce-additional-fields {
                margin-bottom: 40px;
                @media all and (max-width: 1023px) {
                    margin-bottom: 20px;
                }
                .form-row {
                    width: 100%;
                    margin-bottom: 0;
                    padding: 0;
                    label {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        color: #333333;
                        margin-bottom: 5px;
                    }
                    textarea {
                        padding: 15px;
                        background: #F5F5F6;
                        border: 1px solid #DFDEE2;
                        &::placeholder {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                            color: #333333;
                        }
                    }
                }

            }
        }
    }
    #payment {
        border-radius: 0 !important;
        .button.alt {
            margin: 0;
            background: #F1752A;
            border-radius: 0;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF;
            transition: all .3s ease-out;
            &:hover {
                background: #d96621;
            }
        }
        .woocommerce-privacy-policy-text {
            p {
                margin-top: 0;
            }
        }
    }
    .woocommerce-shipping-calculator {
        button[type="submit"] {
            margin: 0;
            background: #F1752A;
            border-radius: 0;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF !important;
            transition: all .3s ease-out;
            &:hover {
                background: #d96621;
            }
        }
    }
    .shipping-calculator-form {
        .form-row {
            width: 100%;
            margin-bottom: 10px;
            padding: 0 !important;
            label {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #333333;
                margin-bottom: 5px;
            }
            input {
                padding: 15px;
                background: #Fff;
                border: 1px solid #DFDEE2;
                &::placeholder {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #333333;
                }
            }
        }
    }
    .woocommerce-variation-add-to-cart {
        margin-top: 15px;
    }
    .quantity.product__quantity {
        background: #FFFFFF;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0;
        border: 1px solid #DFDEE2;
        height: 49px;
        .product__quantity_button {
            border: 0;
            width: 40px;
            height: 40px;
            flex: 0 0 40px;
            background: none;
            display: flex;
            align-items: center;
            cursor: pointer;
            justify-content: center;
            &.product__quantity_plus {
                svg {
                    path {
                        fill: #F1752A !important;
                    }
                }
            }
        }
        .qty {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            background: none;
            border: 0;
            text-align: center;
            color: #333333;
            width: 100%;
            &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
        }
    }
    .cart_block__blocks {
        .quantity.product__quantity {
            max-width: 150px;
            width: 100%;
        }
    }
    .navigation.post-navigation {
        display: none !important;
    }
    .product__description {
        padding-top: 50px;
        padding-bottom: 50px;
        @media all and (max-width: 1023px) {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .product__description_title {
            font-family: "bebas", cursive;
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 140%;
            color: #111111;
            margin-bottom: 20px;
            @media all and (max-width: 1023px) {
                font-size: 40px;
            }
        }
        .product__description_value {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #333333;
            p {
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .products {
        padding-top: 50px;
        padding-bottom: 50px;
        @media all and (max-width: 1023px) {
            padding-top: 30px;
            padding-bottom: 30px;
        }   
        h2 {
            margin: 0;
            font-family: "bebas", cursive;
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 140%;
            letter-spacing: 0.02em;
            color: #08090A;
            margin-bottom: 40px;
            @media all and (max-width: 1023px) {
                padding-bottom: 20px;
                font-size: 40px;
            }
        }
    }
    .woocommerce div.product form.cart .variations th {
        line-height: normal !important;
    }
    .product__top div.quantity {
        width: 100%;
        margin-right: 0;
    }
    .product__top .woocommerce-variation-add-to-cart {
        margin-top: 0;
    }
    .flex_thumb_item {
        overflow: hidden;
        width: 196px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        .flex-control-thumbs {
            display: flex;
            width: max-content;
            margin-left: -10px;
            margin-right: -10px;
            li {
                width: 88px !important;
                height: 79px;
                margin-left: 10px !important;
                margin-right: 10px !important;
                font-size: 0;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .product.type-product {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .product__title {
            order: 1;
        }
        .product__article {
            order: 2;
            @media all and (max-width: 1140px) {
                margin-bottom: 20px;
            }
        }
        .product__top {
            order: 3;
            width: 100%;
        }
        .product__description {
            order: 4;
        }
        .products {
            order: 5;
        }
    }
    .product__title {
        max-width: 500px;
        width: 100%;
        order: 1;
        margin: 0;
        margin-bottom: 20px;
        font-family: "bebas", cursive;
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 140%;
        color: #111111;
        @media all and (max-width: 1140px) {
            font-size: 40px;
        }
    }
    .product__article {
        font-style: normal;
        font-weight: 400;
        order: 2;
        font-size: 14px;
        line-height: 150%;
        color: #FFFFFF;
        display: inline-block;
        background: #1DB956;
        padding: 5px 10px;
    }
    .product__top {
        display: flex;
        align-items: flex-start;
        @media all and (max-width: 1140px) {
            flex-direction: column;
        }
        .woocommerce-product-gallery {
            max-width: 413px;
            width: 100%;
            background: #F5F5F6;
            padding-bottom: 20px;
            @media all and (max-width: 1140px) {
                max-width: 500px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 30px;
            }
        }
        .product__summary {
            margin-left: 40px;
            max-width: 500px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @media all and (max-width: 1140px) {
                margin-left: 0;
                max-width: 100%;
                padding-bottom: 30px;
                order: 1;
            }
            .product__info {
                margin-top: 30px;
                order: 3;
                .title {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 150%;
                    text-transform: uppercase;
                    color: #111111;
                    margin-bottom: 15px;
                    @media all and (max-width: 1140px) {
                        font-size: 20px;
                        margin-bottom: 13px;
                    }
                }
                .text {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: #333333;
                }
                .header__call.button.button__link {
                    margin-top: 14px;
                }
                .attributes {
                    .attribute {
                        display: flex;
                        justify-content: space-between;
                        &:not(:last-child) {
                            margin-bottom: 14px;
                        }
                        .left {
                            width: calc(100% - 155px);
                        }
                        .right {
                            width: 150px;
                        }
                    }
                }
            }
        }
        .cart {
            margin-bottom: 0 !important;
        }
        .product__right {
            margin-left: 20px;
            max-width: 305px;
            width: 100%;
            padding: 40px 30px;
            background: #F5F5F6;
            @media all and (max-width: 1140px) {
                margin-left: 0;
                max-width: calc(100% + 32px);
                width: calc(100% + 32px);
                margin-bottom: 30px;
                padding: 40px 16px;
                margin-left: -16px;
                margin-right: -16px;
            }
            .price {
                font-style: normal !important;
                font-weight: 700 !important;
                font-size: 30px !important;
                line-height: 150% !important;
                color: #F1752A !important;
            }
        }
    }
    .fixed_panel {
        .widget_shopping_cart {
            padding-top: 0 !important;
            &:before {
                display: none !important;
            }
        }
        .header__cart {
            display: flex !important;
            flex-direction: column;
            padding: 0 !important;
            border: 0 !important;
            height: auto !important;
            svg {
                display: none;
            }
            &::after {
                display: none !important; 
            }
            > span {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                text-decoration: none;
                display: inline-block;
                color: #333333;
                position: relative;
                padding-top: 25px;
                position: relative;
                transition: all 0.3s ease-out;
                &:before {
                    position: absolute;
                    content: "";
                    width: 24px;
                    height: 24px;
                    top: 0;
                    left: 50%;
                    transition: all 0.3s ease-out;
                    margin-left: -12px;
                    background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9997 17.9999C14.2649 17.9999 14.5192 17.8945 14.7068 17.707C14.8943 17.5195 14.9997 17.2651 14.9997 16.9999V14.9999C14.9997 14.7347 14.8943 14.4803 14.7068 14.2928C14.5192 14.1053 14.2649 13.9999 13.9997 13.9999C13.7345 13.9999 13.4801 14.1053 13.2926 14.2928C13.105 14.4803 12.9997 14.7347 12.9997 14.9999V16.9999C12.9997 17.2651 13.105 17.5195 13.2926 17.707C13.4801 17.8945 13.7345 17.9999 13.9997 17.9999ZM9.99967 17.9999C10.2649 17.9999 10.5192 17.8945 10.7068 17.707C10.8943 17.5195 10.9997 17.2651 10.9997 16.9999V14.9999C10.9997 14.7347 10.8943 14.4803 10.7068 14.2928C10.5192 14.1053 10.2649 13.9999 9.99967 13.9999C9.73445 13.9999 9.4801 14.1053 9.29256 14.2928C9.10503 14.4803 8.99967 14.7347 8.99967 14.9999V16.9999C8.99967 17.2651 9.10503 17.5195 9.29256 17.707C9.4801 17.8945 9.73445 17.9999 9.99967 17.9999ZM18.9997 5.99991H17.6197L15.8897 2.5499C15.8368 2.42296 15.7583 2.30828 15.6591 2.21303C15.56 2.11779 15.4422 2.04402 15.3132 1.99635C15.1842 1.94867 15.0468 1.92811 14.9095 1.93595C14.7722 1.94379 14.638 1.97986 14.5153 2.04191C14.3926 2.10396 14.284 2.19065 14.1963 2.29657C14.1086 2.40249 14.0437 2.52536 14.0056 2.6575C13.9675 2.78964 13.9571 2.92821 13.975 3.06455C13.9929 3.20089 14.0388 3.33208 14.1097 3.44991L15.3797 5.99991H8.61967L9.88967 3.44991C9.98674 3.21681 9.99203 2.95563 9.90449 2.71879C9.81695 2.48196 9.64306 2.287 9.41773 2.17307C9.1924 2.05914 8.93231 2.03467 8.68969 2.10456C8.44706 2.17446 8.23985 2.33356 8.10967 2.5499L6.37967 5.99991H4.99967C4.29286 6.01066 3.61255 6.27065 3.07872 6.73404C2.54489 7.19742 2.19184 7.83443 2.08184 8.53271C1.97184 9.23099 2.11195 9.94569 2.47746 10.5508C2.84297 11.1558 3.4104 11.6124 4.07967 11.8399L4.81967 19.2999C4.89429 20.0425 5.24301 20.7306 5.79774 21.2298C6.35247 21.7291 7.07337 22.0036 7.81967 21.9999H16.1997C16.946 22.0036 17.6669 21.7291 18.2216 21.2298C18.7763 20.7306 19.125 20.0425 19.1997 19.2999L19.9397 11.8399C20.6104 11.6117 21.1787 11.1535 21.544 10.5464C21.9092 9.9393 22.0478 9.22254 21.9352 8.52305C21.8227 7.82356 21.4661 7.18649 20.9288 6.72468C20.3915 6.26287 19.7081 6.00612 18.9997 5.99991ZM17.1897 19.0999C17.1648 19.3474 17.0486 19.5768 16.8636 19.7432C16.6787 19.9096 16.4384 20.0012 16.1897 19.9999H7.80967C7.5609 20.0012 7.3206 19.9096 7.13569 19.7432C6.95079 19.5768 6.83454 19.3474 6.80967 19.0999L6.09967 11.9999H17.8997L17.1897 19.0999ZM18.9997 9.9999H4.99967C4.73445 9.9999 4.4801 9.89455 4.29256 9.70701C4.10503 9.51948 3.99967 9.26512 3.99967 8.99991C3.99967 8.73469 4.10503 8.48033 4.29256 8.2928C4.4801 8.10526 4.73445 7.99991 4.99967 7.99991H18.9997C19.2649 7.99991 19.5192 8.10526 19.7068 8.2928C19.8943 8.48033 19.9997 8.73469 19.9997 8.99991C19.9997 9.26512 19.8943 9.51948 19.7068 9.70701C19.5192 9.89455 19.2649 9.9999 18.9997 9.9999Z' fill='%23333333'/%3E%3C/svg%3E%0A") 50% no-repeat;
                }
            }
        }
    }
    #customer_details {
        .col-3 {
            margin-top: 30px;
            @media all and (max-width: 1023px) {
                margin-top: 20px;
            }
            h3 {
                &:before {
                    content: "2.";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 150%;
                    color: #F1752A;
                    margin-right: 5px;
                    display: inline-block;
                    min-width: 25px;
                }
            }
            #shipping_method {
                display: flex;
                flex-wrap: wrap;
                margin-left: -10px;
                margin-right: -10px;
                @media all and (max-width: 740px) {
                    margin-left: 0;
                    margin-right: 0;
                }
                li {
                    margin-left: 10px;
                    margin-right: 10px;
                    width: calc(33.3% - 20px);
                    margin-bottom: 20px;
                    padding: 20px;
                    background: #FFFFFF;
                    border: 1px solid #DFDEE2;
                    position: relative;
                    text-align: center;
                    @media all and (max-width: 740px) {
                        width: 100%;
                        margin-left: 0;
                        margin-right: 0;
                        margin-bottom: 10px;
                    }
                    input[type="radio"] {
                        pointer-events: none;
                        visibility: hidden;
                        opacity: 0;
                        position: absolute;
                    }
                    input[type="radio"]:checked + label {
                        color: #F1752A;
                    }
                    label {
                        margin-bottom: 12px;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 19px;
                        cursor: pointer;
                        color: #111111;
                        display: block;
                    }
                    .shipping_method_description {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 14px;
                        color: #333333;
                        small {
                            font-size: 100%;
                        }
                    }
                }
            }
        }
        .col-2 {
            .woocommerce-additional-fields__field-wrapper {
                display: none;
            }
            .woocommerce-additional-fields {
                margin-bottom: 0 !important; 
            }
        }
        .woocommerce-checkout-payment {
            background: none !important;
            ul {
                display: flex;
                flex-wrap: wrap;
                margin-left: -10px;
                padding: 0 !important;
                background: none !important;
                margin-right: -10px;
                @media all and (max-width: 740px) {
                    margin-left: 0;
                    margin-right: 0;
                }
                li {
                    margin-left: 10px !important;
                    margin-right: 10px !important;
                    width: calc(50% - 20px) !important;
                    margin-bottom: 20px !important;
                    padding: 20px !important;
                    background: #FFFFFF;
                    border: 1px solid #DFDEE2;
                    position: relative;
                    text-align: center !important;
                    @media all and (max-width: 740px) {
                        width: 100% !important;
                        margin-left: 0 !important;
                        margin-right: 0 !important;
                        margin-bottom: 10px !important;
                    }
                    input[type="radio"] {
                        pointer-events: none;
                        visibility: hidden;
                        opacity: 0;
                        position: absolute;
                    }
                    input[type="radio"]:checked + label {
                        color: #F1752A;
                    }
                    label {
                        margin-bottom: 12px;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 19px;
                        cursor: pointer;
                        color: #111111;
                        display: block;
                    }
                    .shipping_method_description, .payment_box, .payment_box p {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 14px;
                        color: #333333;
                        small {
                            font-size: 100%;
                        }
                    }
                    .payment_box {
                        padding: 0 !important;
                        margin: 0 !important;
                        text-align: center !important;
                        background: none !important;
                        &:before {
                            display: none !important;
                        }
                    }
                }
            }
        }
    }
    .added_to_cart.wc-forward {
        display: none !important;
    }
    .inner_page__right {
        .post-thumbnail {
            margin-bottom: 50px;
            @media all and (max-width: 1023px) {
                margin-bottom: 30px;
                height: 400px;
                overflow: hidden;
            }
            img, iframe {
                width: 100% !important;
                @media all and (max-width: 1023px) {
                    height: 100% !important;
                    object-fit: cover;
                }
            }
        }
        .wp-block-quote {
            margin: 0;
            margin-top: 50px;
            margin-bottom: 50px;
            p:first-child {
                margin-top: 0;
            }
            p:last-child {
                margin-bottom: 0;
            }
            background: #F1752A;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
            padding: 40px 30px;
            @media all and (max-width: 1023px) {
                padding: 30px 20px;
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
        .entry-content {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #333333;
            margin-bottom: 30px;
            p:first-child {
                margin-top: 0;
            }
            p:last-child {
                margin-bottom: 0;
            }
            @media all and (max-width: 1023px) {
                margin-bottom: 20px;
            }
            img {
                width: 100%;
            }
        }
        h2 {
            margin: 0;
            margin-top: 50px;
            font-style: normal;
            font-family: "bebas", cursive;
            font-weight: 700;
            font-size: 50px;
            line-height: 140%;
            color: #111111;
            text-transform: uppercase;
            margin-bottom: 30px;
            @media all and (max-width: 1023px) {
                margin-bottom: 20px;
                font-size: 40px;
                margin-top: 30px;
            }
            strong { 
                font-family: "bebas", cursive;
                font-weight: 700;
                font-size: 50px;
                line-height: 140%;
                color: #111111;
                text-transform: uppercase;
                @media all and (max-width: 1023px) {
                    font-size: 40px;
                }
            }
        }
    }
}
// wp theme end