body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;  
}

*,
::after,
::before {
    box-sizing: inherit;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;  
}

html,
body {
    margin: 0;
    padding: 0;
    background: #fff;
    height: 100%;
}

.owh {
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: inherit;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.center_block {
    max-width: 1312px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.center_block2 {
    max-width: 1064px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    height: auto;
}

textarea {
    resize: none;
}

// scrollbar
/* width */
*::-webkit-scrollbar {
    width: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
    background: #292B3A;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: #E8610F;
    border-radius: 20px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #E8610F;
    border-radius: 20px;
}

// scrollbar end

// wp theme
body {
    div.asl_w {
        background: none !important;
        .probox {
            background: none !important;
            height: auto !important;
            .proinput { 
                color: #111 !important;
                padding: 0 !important;
                margin: 0 !important;
                input[type="search"] {
                    color: #111 !important;
                    height: 36px !important;
                    width: calc(100% - 40px) !important; 
                    border: 0 !important; 
                    padding: 6px 28px !important; 
                    font-style: normal !important; 
                    font-weight: 400 !important; 
                    font-size: 18px !important; 
                    line-height: 150% !important; 
                    background: transparent !important; 
                    &::placeholder {
                        color: #111 !important;
                    }
                    &.autocomplete {
                        display: none !important;
                    }
                }
            }
            .promagnifier {
                width: 40px !important;
                height: 40px !important;
                background: #F1752A !important;
                border: 2px solid #F1752A !important;
                transition: all .3s ease-out !important;
                &:hover {
                    background: #fff !important;
                    .innericon {
                        svg {
                            path {
                                fill: #F1752A !important;
                            }
                        }
                    }
                }
            }
            .proclose {
                display: none !important;
            }
        }
    }
    .custom-logo-link {
        flex: 0 0 118px;
        margin-right: 40px;
        order: 2;
        @media all and (max-width: 1023px) {
            max-width: 110px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            flex: none;
        }
    }
    .inner_page {
        width: 100%;
        display: flex;
        align-items: flex-start;
        &__left {
            flex: 0 0 305px;
            margin-right: 20px;
            .wp-block-group__inner-container {
                padding: 30px 20px;
                background: #F5F5F6;
                .berocket_ajax_group_filter_title {
                    font-family: "bebas", cursive;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 140%;
                    color: #111111;
                    margin-top: 0;
                    margin-bottom: 20px;                    
                }
                .berocket_single_filter_widget {
                    &:not(:last-of-type) {
                        margin-bottom: 20px;
                        border-bottom: 1px solid #111111;
                    }
                }
            }
            .bapf_head {
                h3 {
                    margin: 0;
                    margin-bottom: 20px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 150%;
                    color: #333333;
                }
            }
            .bapf_body {
                font-style: normal;
                font-weight: 400;
                font-size: 16px !important;
                line-height: 150% !important;
                color: #333333 !important;
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        &:not(:last-child) {
                            margin-bottom: 15px !important;
                        }
                        & > input {
                            position: absolute;
                            z-index: -1;
                            opacity: 0;
                          }
                      
                        /* для элемента label, связанного с .custom-checkbox */
                        &>label {
                            display: flex;
                            align-items: center;
                            position: relative;
                            padding-left: 34px;
                        }
                      
                          /* создание в label псевдоэлемента before со следующими стилями */
                          &>label::before {
                            content: '';
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            margin-top: -12px;
                            position: absolute;
                            top: 50%;
                            flex-shrink: 0;
                            flex-grow: 0;
                            background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.04348 1.04348H22.9565V22.9565H1.04348V19H0V24H24V0H0V5H1.04348V1.04348Z' fill='%23111111'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
                            margin-right: 10px;
                            left: 0px;
                          }
                      
                          /* стили для чекбокса, находящегося в состоянии checked */
                          &>input:checked+label::before {
                            background: #F1752A url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.05732 8.04216L1.65043 5.0943L-2.22679e-07 5.0943L4.05732 10L12 5.24537e-07L10.3496 4.52394e-07L4.05732 8.04216Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
                          }
                    }
                }
                margin-bottom: 20px;
            }
            .bapf_sfilter {
                margin-bottom: 0 !important;
            }
            .bapf_slidr_main.ui-widget-content .ui-slider-range, .berocket_filter_price_slider.ui-widget-content .ui-slider-range {
                background: #F1752A;
            }
            .bapf_slidr_main.ui-widget-content, .berocket_filter_price_slider.ui-widget-content {
                background: #292B3A;
            }
        }
        &__right {
            width: 100%;
        }
    }
}
// wp theme end