.main_product {
    background: #F5F5F6;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
    .catalog__wrapper_in {
        display: flex;
        grid-template-columns: unset;
        grid-gap: 0;
        
    }
    @media all and (max-width: 1023px) {
        padding-top: 60px;
        padding-bottom: 90px;
        margin-top: 0;
        margin-bottom: 30px;
        position: relative;
    }
    &__block {
        display: flex;
        flex-direction: column;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        margin-bottom: 40px;
        @media all and (max-width: 1023px) {
            margin-bottom: 20px;
            flex-direction: column;
        }
    }
    &__bottom {
        @media all and (max-width: 1023px) {
            padding-right: 90px;
            .glide__track {
                overflow: visible;
            }
        }
    }
    &__title {
        font-family: 'bebas', cursive;
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 140%;
        color: #111111;
        @media all and (max-width: 1023px) {
            font-size: 40px;
            margin-bottom: 20px;
            width: 100%;
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        @media all and (max-width: 1023px) {
            flex-direction: row-reverse;
            justify-content: space-between;
            width: 100%;
        }
    }
    .prod_prev {
        margin-right: 20px;
        @media all and (max-width: 1023px) {
            order: 3;
            margin-right: 20px;
            margin-left: 0;
            position: absolute;
            bottom: 30px;
            left: 16px;
            margin-right: 0;
        }
    }
    .prod_next {
        margin-right: 40px;
        &:before {
            transform: rotate(180deg);
        }
        @media all and (max-width: 1023px) {
            order: 2;
            margin-right: 0;
            position: absolute;
            bottom: 30px;
            right: 16px;
        }
    }
    &__btn {
        @media all and (max-width: 1023px) {
            order: 3;
            margin-right: auto;
        }
    }
    &__img {
        font-size: 0;
        height: 270px;
        width: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__info {
        padding: 20px;
        background: #FFFFFF;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__tit {
        margin-bottom: 15px;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 150%;
        text-decoration: none;
        color: #111111;
        padding-bottom: 1px;
        overflow: hidden;
        display: inline-block;
        position: relative;
        &:after {
            position: absolute;
            content: '';
            height: 2px;
            background: #111111;
            transform: scaleX(0) translateZ(0);
            width: 100%;
            left: 0;
            transform-origin: left;
            transition: all .6s ease-out;
            bottom: 0;
        }
        &:hover {
            &:after {
                transform: scaleX(1) translateZ(0);
            }
        }
    }
    &__price {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        color: #F1752A;
    }
    &__cart {
        margin-top: 20px;
        width: 100%;
        color: #111111;
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 16px;
            svg {
                width: 21px;
                height: 21px;
                margin-right: 10px;
                transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
                path {
                    fill: #111111 !important;
                    transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
                }
            }
        }
        &:after {
            top: 100%;
        }
        &:hover {
            color: #fff;
            &:after {
                top: 0;
            }
            span {                
                svg {
                    path {
                        fill: #fff !important;
                        transition: all .6s cubic-bezier(0.19, 1, 0.22, 1) .6s;
                    }
                }
            }
        }
    }
}