.first_slider {
    background: #F5F5F6;
    position: relative;
    @media all and (max-width: 900px) {
        background-position: 0 70%;
    }
    @media all and (max-width: 380px) {
        background-position: 0 78%;
    }
    .block_runner {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        width: 100%;
        margin-top: vw(-145);
        height: vw(291);
        @media all and (max-width: 900px) {
            height: 91px;
            margin-top: -45px;
            top: 64%;
        }
        @media all and (max-width: 480px) {
            top: unset;
            bottom: calc(19% - -35px);
        }
        svg {
            height: vw(291) !important;
            @media all and (max-width: 900px) {
                height: 91px !important;
            }
        }
    }
    &__in {
        padding-top: 80px;
        padding-bottom: 80px;
        @media all and (max-width: 1023px) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }
    &__btn {
        @media all and (max-width: 420px) {
            width: 100%;
            span {
                width: 100%;
            }
        }
    }
    &__block {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        @media all and (max-width: 900px) {
            flex-direction: column;
        }
    }
    &__l-side {
        width: calc(42% - 12px);
        @media all and (min-width: 1024px) {
            transform: translateX(-100%);
        }
        @media all and (max-width: 900px) {
            width: 100%;    
            margin-bottom: 30px;
        }
    }
    @media all and (min-width: 1024px) {
        .slick-active .first_slider__l-side {
            transform: translateY(0);
            transition: transform 1s;
        }
    }
    &__title {
        font-family: 'bebas', cursive;
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 140%;
        color: #111111;
        margin-bottom: 30px;
        @media all and (max-width: 1280px) {
            margin-bottom: 30px;
            font-size: 40px;
            line-height: 140%;
        }
    }
    &__text {
        margin-bottom: 30px;
        max-width: 525px;
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #333333;
        @media all and (max-width: 1280px) {
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 150%;
        }
        @media all and (max-width: 900px) {
            max-width: 100%;
        }
    }
    &__r-side {
        width: calc(58% - 12px);
        @media all and (min-width: 1024px) {
            transform: translateX(100%);
        }
        @media all and (max-width: 900px) {
            width: 100%;
        }
    }
    @media all and (min-width: 1024px) {
        .slick-active .first_slider__r-side {
            transform: translateY(0);
            transition: transform 1s;
        }
    }
    &__arrows {
        display: flex;
        align-items: center;
        @media all and (max-width: 900px) {
            justify-content: space-between;
        }
    }
    .slides-numbers {
        font-family: 'bebas', cursive;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        color: #F1752A;
        @media all and (max-width: 900px) {
            padding-left: 20px;
        }
    }
    &__inf {
        margin-left: 20px;
        margin-right: 20px;
        width: 77px;
        @media all and (max-width: 900px) {
            width: 180px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .slider-progress {
        margin-top: 5px;
        width: 100%;
        height: 2px;
        background: #333333;
    }
    .slider-progress .progress {
        width: 0%;
        height: 3px;
        background: #F1752A;
    }
}